<div class="row speaker-dashboard-form justify-content-center">
  <div class="col-12 col-lg-8">
    <h1 class="text-center py-3 entry">エントリーフォーム</h1>
    <%= render 'form', speaker: @speaker %>
  </div>
</div>
