<div class="col-12 my-4">
  <p>技術を語る楽しさ、同じ境遇の仲間との出会い、そして自身の成長。</p>
  <p>クラウドネイティブを愛するエンジニアが集う <strong>CloudNative Days Winter 2025</strong> で、あなたの知見や情熱をシェアしませんか？</p>
  <p><strong>冬は東京開催です！</strong> 11月18日(火)、19日(水)、新たな可能性を広げる一歩を私たちと踏み出しましょう。</p>
  <p><strong>✅ 過去の実績が証明する、国内最大級のカンファレンス</strong></p>
  <p>2024年12月に東京で実施されたCloudNative Days Winter 2024は登録者数<strong>1900人以上</strong>・セッション数<strong>50以上</strong>、2025年6月に沖縄で開催されたCloudNative Days Summer 2025は<strong>登録者数1000人以上</strong>・セッション数<strong>15以上</strong>の国内最大級イベントとして開催しました。</p>
  <p><strong>✅ みなさんの一つ一つの取り組みが多くの人の学びになります</strong></p>
  <p>クラウドネイティブ技術は、日々進化し続けています。試行錯誤しているあなたの <strong>リアルな知見・挑戦・学び</strong> こそ、多くの人の共感と学びを生み出します。初級者向けも必要とされています。</p>
  <p>そして <strong>あなたの登壇が、次の誰かの一歩を後押しする</strong> かもしれません。</p>
  <p>セッション公募(CFP)に参加して、あなたの取り組みををぜひ共有してください！</p>
  <p><strong>✅ 初めての登壇・取り組みに自信がない方でも大丈夫</strong></p>
  <p>カンファレンスの登壇が初めてのでもご安心ください。運営メンバーの多くがカンファレンス登壇を経験しており、全力でサポートします！</p>
  <p>皆様のご応募を心よりお待ちしています。</p>
</div>

<div class="col-12 my-4">
  <h2 class="text-center">CloudNative Days Winter 2025のテーマ</h2>
  <p>今年から、CloudNative Daysでは同一のテーマでカンファレンスを開催いたします</p>
  <h3 class="text-center">『Scaling Together』</h3>
  <p>クラウドネイティブという波は、単なる技術革新にとどまらず、組織や社会、そして技術に関わるすべての人の在り方も変えていきます。</p>
  <p>私たちはこれまで、知識や熱意を分かち合うことで、クラウドネイティブに取り組むエンジニアを後押ししてきました。</p>
  <p>そして今、私たちは次のステージに向かって、日本のクラウドネイティブを「ともにスケールする」フェーズを迎えています。</p>
  <p>"Scaling Together" には、個人の技術力、組織の開発力、プロダクトの品質、そしてコミュニティの可能性——あらゆる「成長」への思いを込めています。</p>
  <p>生成AIによる開発の爆発的な加速、組織文化の変革、そして日々の運用課題。</p>
  <p>クラウドネイティブの真価を発揮するには、今後もこれらすべてに向き合う必要があります。</p>
  <p>でも、その壁を一人で越える必要はありません。</p>
  <p>日本中のエンジニアが集い、現場の知見を分かち合う。</p>
  <p>成功も失敗も、すべてが学びとなり、明日への糧となる。</p>
  <p>これらすべてが交差し、相乗効果を生み出す場所がCloudNative Daysです。</p>
  <p>垣根を越えて、世代を超えて、地域を超えて。</p>
  <p>ともに成長し、ともに未来へ。</p>
</div>

<div class="col-12 my-4">
  <h2 class="text-center">CloudNative Days Winter 2024（昨年度東京開催）のセッションの一例</h2>
  <ul>
    <li>転職したらゲーム基盤システムの移行が大変だった話 ~ 数百台のアプリをGKE化、CloudSQL化させて苦労したこと勘所 ~</li>
    <li>120万口座を支える証券システムのクラウド運用内製化とクラウドネイティブへの挑戦</li>
    <li>乗っ取れKubernetes！！ ~ リスクから学ぶKubernetesセキュリティの考え方 ~</li>
    <li>Mastering Cloud Native API Gateway with Envoy</li>
    <li>成熟度別 Platform Engineering アーキテクチャ道場！</li>
    <li>Amazon ECSとCloud Runの相互理解で広げるクラウドネイティブの景色</li>
    <li>SIerで200人クラウドネイティブのファンを増やした話</li>
  </ul>
  <p>他にも、過去のカンファレンスで発表されたセッションを参考にして、ぜひ皆様の取り組みをご応募ください。</p>
  <ul>
    <li><a href="https://event.cloudnativedays.jp/cndw2024/timetables">CloudNative Days Winter 2024（東京開催）</a></li>
    <li><a href="https://event.cloudnativedays.jp/cnds2025/timetables">CloudNative Days Summer 2025（沖縄開催）</a></li>
  </ul>
</div>

<div class="col-12 my-4">
  <h2 class="text-center">エントリーの流れ</h2>
  <ol>
    <li>本ページから登壇者ポータルにログイン（エントリーにはCloudNative Daysへのサインアップが必要です）</li>
    <li>登壇内容を入力してエントリー</li>
    <li>エントリー終了後、実行委員会で選考</li>
    <li>登壇者ポータルで選考結果をご連絡</li>
  </ol>
</div>

<div class="col-12 my-4">
  <h2 class="text-center">スケジュール</h2>
  <ul>
    <li>2025/9/21 (日) 23:59 CFPエントリー締め切り</li>
    <li>2025/9月末 選考結果をご連絡</li>
    <li>2025/11/18 (火)、11/19 (水) CloudNative Days Winter 2025開催</li>
  </ul>
</div>

<div class="col-12 my-4">
  <h2 class="text-center">登壇方法</h2>
  <ol>
    <li>現地会場（東京）での登壇（質疑応答含め、40分セッション。）</li>
    <li>録画による配信（40分セッション。事前に録画データを提供いただきます）</li>
  </ol>
  <p>※ 応募後も、CFP締め切り日までは登壇方法の変更が可能です。締め切り後は変更不可となりますので、予めご了承ください。</p>
</div>