<div class="col-12 my-4">
  <h2 class="text-center">エントリーQ&A</h2>
  <h3>応募内容は公開されますか？</h3>
  <p>透明性確保のため申請いただいたセッション情報は公開を前提としていますが、SNSアカウントを除き、応募者の個人情報は公開されません。</p>
  <h3>CFPの選考はどのように行われますか？</h3>
  <p>CNDS2025実行委員会による投票、X(Twitter)での反響を参考に絞り込みした上で、全体のバランスや多様性を考慮したディスカッションにより決定されます。詳細な選考方法については、<a href="https://cloudnativedays.medium.com/v18-12%E3%81%AB%E3%81%8A%E3%81%91%E3%82%8B%E3%83%97%E3%83%AD%E3%83%9D%E3%83%BC%E3%82%B6%E3%83%AB%E9%81%B8%E5%AE%9A%E3%83%95%E3%83%AD%E3%83%BC%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6-97c134b237a3">こちらのブログ</a>をご参照ください。</p>
  <h3>一人で複数の応募は可能でしょうか？</h3>
  <p>可能です。</p>
  <h3>複数名での応募は可能でしょうか？</h3>
  <p>可能です。エントリーにあたっては、代表者の方がお申し込みください。</p>
  <h3>セッションの長さはどのくらいですか？</h3>
  <p>40分（質疑応答の時間含む）です。</p>
  <h3>選考の基準として重視される項目はなんですか？</h3>
  <p>記入欄に、採択への影響度を三段階で表示しています。記載された★マークが多いほど、考慮される度合いが高いです。</p>
  <h3>登壇者は沖縄会場への移動の必要性や、沖縄近辺の在住・勤務である必要はありますか？</h3>
  <p>今回のCloudNative Daysは枠数の兼ね合いから現地登壇のみとしています。居住地や勤務地などの制限は行っておりません。</p>
</div>
