<div class="col-12 my-4">
  <p>毎年東京で実施しているCloudNative Daysを今年も11月28日(木)〜29日(金)に開催します！</p>
  <p>2023年12月に実施されたCloudNative Days Tokyo 2023は、登録者数<b>2000人以上</b>・セッション数<b>60以上</b>の国内最大級イベントとして<b>2日間</b>に渡り開催しました。</p>
  <p>CloudNative Days Winter 2024は今年もオンライン参加に加え、現地会場での参加もできる<b>ハイブリッド形式</b>で開催されます。</p>
  <p>クラウドネイティブを目指している組織・プロダクトは日々多くなり、世の中も変化し、多様な形で広がり続けています。</p>
  <p>セッション公募(CFP)に参加して、抱えている悩みや知見、皆さんの多様な考え方を CloudNative Days Winter という場所で共有してみませんか？</p>

  <br/>
  <h3 class="text-center">CloudNative Days Tokyo 2023(昨年度東京開催)のセッションの一例</h3>
  <ul>
    <li>noteのKubernetes移行、ゼンブ見せます</li>
    <li>FinOps! Karpenterによるk8sコスト削減への道</li>
    <li>10年モノのサービスのインフラを漸進的に改善する、頑張りすぎないクラウドネイティブ</li>
    <li>100万コンテナのKubernetesプラットフォームを5年間スケーラブルに運用するために乗り越えていること</li>
    <li>CiliumにおけるGeneveプロトコルを用いたDSRの実装と導入</li>
    <li>「魔の川」「死の谷」をクラウドネイティブなチーム作りで越境する</li>
    <li>可観測可能な「Next.js」アプリケーションを作る⸺UXからパフォーマンスまでWebアプリケーション全ての改善に役立つ方法を⸺</li>
    <li>計測の手間を省きたい！OpenTelemetry に見る”自動計装”のイマ</li>
    <li>生成 AI を活用して、Portability に優れた Cloud Native かつセキュアな Microservice を超高速で開発してみる</li>
    <li>昨年度のすべてのセッション一覧は<a href="https://cloudnativedays.jp/cndt2023" target="_blank">こちら</a></li>
  </ul>
  <p>以下のような方でもご安心ください。運営メンバーの多くがオンラインでの登壇やカンファレンス運営を経験しており、全力でサポートします！</p>
  <ul>
    <li>カンファレンスの登壇が初めて</li>
    <li>動画の事前収録方法が分からない</li>
  </ul>
  <p>皆様のご応募を心よりお待ちしています。</p>
</div>

<div class="col-12 my-4 text-center">
  <h2 class="text-center">CloudNative Days Winter 2024のテーマ</h2>
  <h3 class="text-center">「〜クラウドネイティブを継続する〜」</h3>
  <p>クラウドネイティブをこれから始める人<br />
今まさに取り組んでいる人<br />
一定の成果を達成して、次のステップに迷っている人<br />
CloudNative Daysには様々な人が集まります。</p>
  <p>エンジニアも組織も、そしてシステムも<br />
クラウドネイティブから実りを得るには<br />
一度きりではなく、学びと改善を何度も繰り返す<br />
継続的な取り組みが重要です。</p>
  <p>小さな一歩を踏み出すのをためらわないでください。<br />
小さくても歩みを止めないでください。<br />
継続することをやめなければ、変化と経験の蓄積が<br />
やがて大きな飛躍をもたらします。</p>
  <p>そしてコミュニティが知見とモチベーションの交換を通して<br />
あなたの一歩を後押しします。</p>
  <p>CloudNative Daysは、クラウドネイティブへの小さな一歩を踏み出し、<br />
大きな飛躍へと前進するエンジニアと共に歩んでいきます。</p>
</div>

<div class="col-12 my-4">
  <h2 class="text-center">エントリーの流れ</h2>
  <ol>
    <li>本ページから登壇者ポータルにログイン</li>
    <li>登壇内容を入力してエントリー</li>
    <li>エントリー終了後、実行委員会で選考</li>
    <li>登壇者ポータルで選考結果をご連絡</li>
  </ol>
</div>

<div class="col-12 my-4">
  <h2 class="text-center">スケジュール</h2>
  <ul>
    <li>2024/10/14 (月) 23:59 プロポーザルのエントリー締め切り</li>
    <li>2024/10月下旬 選考結果をご連絡</li>
    <li>2024/11/28-29 (木、金) CloudNative Days Winter 2024開催</li>
  </ul>
</div>

<div class="col-12 my-4">
  <h2 class="text-center">登壇方法</h2>
  <ol>
    <li>現地会場（東京）での登壇（質疑応答含め、40分セッション。）</li>
    <li>録画による配信（40分。事前に録画データを提供いただきます）</li>
  </ol>
  <p>※ プロポーザル応募後も、エントリー締め切り日までは登壇方法の変更が可能です。締め切り後は変更不可となりますので、予めご了承ください。</p>
</div>
