<div class="col-12 my-4">
  <p>技術を語る楽しさ、同じ境遇の仲間との出会い、そして自身の成長。</p>
  <p>クラウドネイティブを愛するエンジニアが集う <strong>CloudNative Days Summer 2025</strong> で、あなたの知見や情熱をシェアしませんか？</p>
  <p>今年の舞台はついに <strong>沖縄！</strong> 5月23日(金)、美しい海と熱いコミュニティがあなたを待っています。</p>
  <p><strong>✅ 過去の実績が証明する、国内最大級のカンファレンス</strong></p>
  <p>2024年6月に北海道で実施されたCloudNative Days Summer 2024は登録者<strong>800人以上</strong>・セッション数<strong>20以上</strong>、2024年12月に東京で実施されたCloudNative Days Winter 2024は登録者数<strong>1900人以上</strong>・セッション数<strong>50以上</strong>の国内最大級イベントとして開催しました。</p>
  <p><strong>✅ みなさんの一つ一つの取り組みが多くの人の学びになります</strong></p>
  <p>クラウドネイティブ技術は、日々進化し続けています。試行錯誤しているあなたの <strong>リアルな知見・挑戦・学び</strong> こそ、多くの人の共感と学びを生み出します。初級者向けも必要とされています。</p>
  <p>そして <strong>あなたの登壇が、次の誰かの一歩を後押しする</strong> かもしれません。</p>
  <p>セッション公募(CFP)に参加して、あなたのパッション溢れる取り組みををぜひ共有してください！</p>
  <p><strong>✅ 初めての登壇・取り組みに自信がない方でも大丈夫</strong></p>
  <p>カンファレンスの登壇が初めてのでもご安心ください。運営メンバーの多くがカンファレンス登壇を経験しており、全力でサポートします！</p>
  <p>皆様のご応募を心よりお待ちしています。</p>
</div>

<div class="col-12 my-4">
  <h2 class="text-center">CloudNative Days Summer 2025のテーマ</h2>
  <h3 class="text-center">『Passion 〜CloudNative に熱中する〜』</h3>
  <p>今年、CloudNativeはさらなる広がりを見せ、その魅力は多くの人々の情熱を掻き立てています。</p>
  <p>推しのプロダクトをとことん使い込んでいたり、OSSの開発に熱中するエンジニアたちが集まり、その知見や思いを共有し合うことで新たな発想や出会いが生まれていくのです。</p>
  <p>2025年は、日本でCloudNativeがいっそう盛り上がる、まさに"情熱"に満ちた年となるでしょう。</p>
  <p>コミュニティに加わることで、人生や仕事に新たな刺激を得て、より豊かで充実した日々を過ごせるはずです。</p>
  <p>ここには、同じ思いを抱く仲間との出会いがあり、成長のきっかけが無数に散りばめられています。</p>
  <p>一人ひとりの情熱と行動が重なり合うことで、未来を拓くためのアイデアやイノベーションが紡がれていくでしょう。</p>
  <p>さぁ、CloudNativeに熱中する旅へ踏み出しましょう。</p>
  <p>私たちの情熱が、新しい世界と可能性を切り拓いていくのです。</p>
</div>
<div class="col-12 my-4">
  <h2 class="text-center">CloudNative Days Summer 2024（昨年度北海道開催）のセッションの一例</h2>
  <ul>
    <li>地域密着型組織が挑む！北海道全域で利用される宅配システムのクラウドネイティブ化</li>
    <li>クラウドネイティブ化は本当に必要なのか？ 移行パターンと成功のポイント</li>
    <li>テレメトリーシグナルの相関、してますか？第一原理からのデバッグを支える計装</li>
    <li>マイクロサービス基盤にフルマネージドサービスではなくKubernetesを選択する理由</li>
    <li>生成AI向け機械学習クラスタ構築のレシピ　北海道石狩編</li>
    <li>リードタイム、コストを最適化しながら回復性を求めるクラウドネイティブ戦略</li>
    <li>次世代のクラウドネイティブ基盤、Wasmの今と未来</li>
  </ul>
  <p>他にも、過去のカンファレンスで発表されたセッションを参考にして、ぜひ皆様の取り組みをご応募ください。</p>
  <ul>
    <li><a href="https://event.cloudnativedays.jp/cndw2024/timetables">CloudNative Days Winter 2024（東京開催）</a></li>
    <li><a href="https://event.cloudnativedays.jp/cnds2024/timetables">CloudNative Days Summer 2024（北海道開催）</a></li>
  </ul>
</div>

<div class="col-12 my-4">
  <h2 class="text-center">エントリーの流れ</h2>
  <ol>
    <li>本ページから登壇者ポータルにログイン（エントリーにはCloudNative Daysへのサインアップが必要です）</li>
    <li>登壇内容を入力してエントリー</li>
    <li>エントリー終了後、実行委員会で選考</li>
    <li>登壇者ポータルで選考結果をご連絡</li>
  </ol>
</div>

<div class="col-12 my-4">
  <h2 class="text-center">スケジュール</h2>
  <ul>
    <li>2025/3/23 (日) 23:59 CFPエントリー締め切り</li>
    <li>2025/4月上旬 選考結果をご連絡</li>
    <li>2025/5/23 (金) CloudNative Days Summer 2025開催</li>
  </ul>
</div>

<div class="col-12 my-4">
  <h2 class="text-center">登壇方法</h2>
  <ol>
    <li>現地会場（沖縄）での登壇（質疑応答含め、40分セッション。）</li>
  </ol>
  <p>※ 今回の沖縄開催は現地登壇のみとなります。従来通り当日はリアルタイムでオンライン配信が実施されます。</p>
</div>

