<div class="col-12 my-4">
  <p>この夏、CloudNative Days Winter 2024は11/27, 28(木、金)に東京で開催します！</p>
  <p>CloudNative Daysは、これまでクラウドネイティブ技術に関する最新の知識や実践を共有する場として、多くの方々に支持されてきました。クラウドネイティブ技術の魅力や可能性を一緒に探りましょう。</p>
  <p>CloudNative Days 2024では、さまざまなバックグラウンドや経験を持つ参加者が集まり、新たな学びや繋がりを築く場を提供します。</p>
  <p>今年もオンラインとオフラインのハイブリッド形式での開催を予定しており、どちらの形式でもイベントに参加できます。</p>
  <p>CloudNative Days 2024へプロポーザルを提出して、抱えている悩みや知見を共有してみませんか？</p>
  <br/>
  <p>例えば、このような発表をお待ちしております。</p>
  <ul>
    <li>Kubernetesを用いたマイクロサービスのデプロイと管理</li>
    <li>GitHub ActionsとJenkinsによるCI/CDパイプラインの構築手法</li>
    <li>ObservabilityとSLOによるデータに基づいた意思決定</li>
    <li>Cloud Native Security Platform (CNSP)によるクラウドセキュリティの強化</li>
    <li>趣味プロジェクトから学ぶクラウド活用術: 実践者の体験談</li>
    <li>ログ分析、トレース、ダンプ分析などの実践的なテクニック</li>
    <li>クラウドネイティブの実践: 成功の秘訣と課題克服のストーリー</li>
    <li>DevOps、SRE、GitOpsなどの文化とベストプラクティス</li>
    <li>最新クラウドネイティブ技術の動向：2024年の注目技術と展望</li>
    <li></li>
  </ul>
  <p>他にも過去のカンファレンスで発表されたセッションを参考にして、考えるのも良いと思います。</p>
  <ul>
    <li><a href="https://cloudnativedays.jp/cndf2023" target="_blank">CloudNative Days Fukuoka 2023</a></li>
    <li><a href="https://cloudnativedays.jp/cndt2023" target="_blank">CloudNative Days Tokyo 2023</a></li>
  </ul>

  <p>以下のような方でもご安心ください。運営メンバーの多くがオンラインでの登壇やカンファレンス運営を経験しており、全力でサポートします！</p>
  <ul>
    <li>カンファレンスの登壇が初めて</li>
    <li>動画の事前収録方法が分からない</li>
  </ul>
  <p>皆様のご応募を心よりお待ちしています。</p>
</div>

<div class="col-12 my-4 text-center">
  <h2 class="text-center">CloudNative Days Winter 2024のテーマ</h2>
  <h3 class="text-center">「Synergy 〜その先の、道へ。出会いと変化を紡ぐ場所〜」</h3>
  <p>クラウドネイティブをこれから始める人<br />
今まさに取り組んでいる人<br />
一定の成果を達成して、次のステップに迷っている人<br />
CloudNative Daysには様々な人が集まります。</p>
  <p>エンジニアも組織も、そしてシステムも<br />
クラウドネイティブから実りを得るには<br />
一度きりではなく、学びと改善を何度も繰り返す<br />
継続的な取り組みが重要です。</p>
  <p>小さな一歩を踏み出すのをためらわないでください。<br />
小さくても歩みを止めないでください。<br />
継続することをやめなければ、変化と経験の蓄積が<br />
やがて大きな飛躍をもたらします。</p>
  <p>そしてコミュニティが知見とモチベーションの交換を通して<br />
あなたの一歩を後押しします。</p>
  <p>CloudNative Daysは、クラウドネイティブへの小さな一歩を踏み出し、<br />
大きな飛躍へと前進するエンジニアと共に歩んでいきます。</p>
</div>

<div class="col-12 my-4">
  <h2 class="text-center">エントリーの流れ</h2>
  <ol>
    <li>本ページから登壇者ポータルにログイン</li>
    <li>登壇内容を入力してエントリー</li>
    <li>エントリー終了後、実行委員会で選考</li>
    <li>登壇者ポータルで選考結果をご連絡</li>
  </ol>
</div>

<div class="col-12 my-4">
  <h2 class="text-center">スケジュール</h2>
  <ul>
    <li>2024/10/14 (月) 23:59 プロポーザルのエントリー締め切り</li>
    <li>2024/10/17 (木) 選考結果をご連絡</li>
    <li>2024/11/27-28 (木、金) CloudNative Days Winter 2024開催</li>
  </ul>
</div>

<div class="col-12 my-4">
  <h2 class="text-center">登壇方法</h2>
  <ol>
    <li>現地会場（東京）での登壇（質疑応答含め、40分セッション。）</li>
    <li>録画による配信（40分。事前に録画データを提供いただきます）</li>
  </ol>
  <p>※ プロポーザル応募後も、エントリー締め切り日までは登壇方法の変更が可能です。締め切り後は変更不可となりますので、予めご了承ください。</p>
</div>
