<div class="card-group">
  <div class="card">
    <div class="card-header">
      <b>Sessions</b>
      <%= link_to (image_tag "icons/pencil-square.svg"), edit_speaker_dashboard_speaker_path(id: @speaker.id, anchor: 'sessions') %>
    </div>
    <% @talks.each do |talk| %>
      <%= render "speaker_dashboard/speakers/talk", conference: @conference, talk: talk %>
    <% end %>
  </div>
</div>