<div class="container">
  <div class="row speaker-dashboard-form justify-content-center">
    <div class="col-12 col-lg-8">
      <%= render 'form', speaker: @speaker %>

      <%= link_to 'Back', speaker_dashboard_path, {class: "btn btn-secondary"} %>
    </div>
  </div>
</div>
