<div class='project'>
    <%= link_to 'https://eventregist.com/e/cndt2023_party', target: '_blank' do %>
        <%= image_tag 'cndt2023/yorueve.png' %>
    <% end %>
</div>
<div class='project'>
    <%= link_to community_lt_path do %>
        <%= image_tag 'cndt2023/community-lt.png' %>
    <% end %>
</div>
