
<div class="container">

  <div class="row p-md-4" id="contents">
    <div class="col-12 my-4">
      <%= image_tag 'cndt2023/community-lt.png', class: "eyecatch" %>
      <h2 class="text-center mb-3">技術コミュニティ大集合！ 連携コミュニティによるLT大会</h2>
      <p>長く続いたコロナ禍によってリアルなイベントの開催が難しくなり、その結果コミュニティの分断や活動量の低下が起きてしまいました。ですが最近は、再び集まろうという機運が高まってきているように感じています。</p>
      <p>そこで！ 今回はCNDT2023の会場にLTスペースを設置し、技術コミュニティのみなさんと一緒にLT大会を開催します。あなたの知らない素敵なコミュニティに出会えるチャンスです！</p>
    </div>
    <div class="col-12 my-4">
      <h2 class="text-center mb-3">参加コミュニティ</h2>
      <ul>
        <li>OutSystems User Groups Tokyo</li>
        <li>EM Oasis</li>
        <li>MLSE 機械学習オペレーションWG / LangCheck</li>
        <li>OCHaCafe</li>
        <li>技術書同人誌博覧会</li>
        <li>Object-Oriented Conference</li>
        <li>SRE Lounge / SRE NEXT</li>
        <li>OSSPH</li>
        <li>MLOps community</li>
        <li>RancherJP</li>
        <li>JAWS-UG（AWS Users Group – Japan）</li>
        <li>datatech-jp</li>
        <li>Kubernetes Meetup Novice</li>
        <li>日本DNSオペレーターズグループ</li>
        <li>NETCON</li>
        <li>Jagu'e'r AI/ML 分科会</li>
        <li>Forkwell Community</li>
        <li>Database Engineering Meetup</li>
        <li>Kubernetes Meetup Tokyo</li>
        <li>NRUG SRE支部とJAWS-UG SRE支部</li>
      </ul>
      (順不同)
    </div>
    <div class="col-12 my-4">
      <h2 class="text-center mt-4">タイムスケジュール</h2>
      現在調整中です
    </div>
    <div class="col-12 my-4">
      <h2 class="text-center mt-4">開催場所</h2>
      <%= image_tag 'cndt2023/ltroom.png', class: "eyecatch" %>
    </div>
    <hr />
    <div class="col-12 my-4">
      <h2 class="text-center mt-4">企画一覧</h2>
      <section class="projects">
        <%= render(partial: "contents/cndt2023/projects") %>
      </section>
    </div>
  </div>
</div>
