
<div class="container">

  <div class="row p-md-4" id="contents">
    <div class="col-12 my-4">
      <h2 class="text-center mb-3">スタンプを集めてノベルティをゲットしよう！CNDT2023 Trail Mapスタンプラリーについて</h2>
      <p>CloudNative Days Tokyo2023のオフライン会場では、スタンプラリーを企画しています！</p>

      <p>Cloud Nativeということで、Trail Map風なスタンプラリーを作りました！</p>

      <%= image_tag 'cndt2023/stamprally.png', class: "eyecatch" %>

      <p>スポンサーブースにシールを用意していますので、各ブースを訪れてTrail Mapを完成させましょう！</p>

      <p>スタンプを10個以上集めた方には、ノベルティを贈呈致します！</p>

      <p>ノベルティの交換はDay1 / Day2両日ともに、以下のエリアで14:00 ~ 15:00と17:00 ~ 18:00に行います。</p>

      <%= image_tag 'cndt2023/stamp-reception.png', class: "w-100" %>

      <p>スタンプを集めていく中で、有益な情報を知れたり、素敵な出会いがある・・・かもしれません。</p>

      <p>ノベルティの内容は、イベント当日を楽しみにしていてください！</p>

      <p>オフライン会場でお会いできることを楽しみにしています！</p>
    </div>
    <hr />
    <div class="col-12 my-4">
      <h2 class="text-center mt-4">企画一覧</h2>
      <section class="projects">
        <%= render(partial: "contents/cndt2023/projects") %>
      </section>
    </div>
  </div>
</div>
