
<div class="container">

  <div class="row p-md-4" id="contents">
    <div class="col-12 my-4">
      <%= image_tag 'cndt2023/yurucafe.png', class: "eyecatch" %>
      <h2 class="text-center mb-3">美味しいコーヒーを飲みながら、ゆるりと交流しませんか？</h2>
      <p>いろんなセッションから最新の情報や様々な知見を得るのも楽しいですが、様々な境界を飛び越えて交流することもCloudNative Daysの楽しみかたのひとつです。</p>

      <p>人やコミュニティや企業やテクノロジーの交わる交差点がCloudNative Daysというカンファレンスでありたい・・・そんな想いを胸に、どなたでも気軽に楽しくリラックスして交流できる場所をCNDT2023で用意しました！</p>

      <p>こちらの「ゆるカフェ」では、専属バリスタが淹れたコーヒーを飲みながら、異なるバックグラウンドや専門領域を持つ、みなさん同士で自由に交流できます。</p>

      <p>初めて参加される方でも安心して会話にご参加頂けるよう、当日は実行委員会メンバーもカフェ店員となって「ゆるカフェ」にてお待ちしておりますので、是非お気軽にお声がけください。</p>

      <p>CloudNativeの入門者であっても問題ありません！何から始めようか迷った時の相談をしてみたり、おすすめの勉強方法なんかを質問してみてください。</p>

      <p>逆にすでにエキスパートな方は普段から技術の研鑽と苦労を経験しまくっている「同志」との出会い・・・なんてこともあるかも知れませんね。</p>

      <p>ゆるカフェには、交流スペース内にちょっとした”お楽しみ”も用意しますので、それも目当てにまずはちょっと足を運んでみてください。知らない方であっても一緒に楽しめば”CloudNative Journey仲間”としてきっと打ち解け合えますよ！</p>

      <p>リラックスした雰囲気で、新しいアイデアや情報を共有したり、独自の視点を持つ人々との出会いを楽しんでみませんか？CNDT2023でのイベント中に、ぜひお立ち寄りください！</p>
    </div>
    <hr />
    <div class="col-12 my-4">
      <h2 class="text-center mt-4">企画一覧</h2>
      <section class="projects">
        <%= render(partial: "contents/cndt2023/projects") %>
      </section>
    </div>
  </div>
</div>
