<div class="container">
  <h1 class="text-center py-3 entry">ビデオファイルダウンロード用のURL登録</h1>

  <section class="row justify-content-center">
    <section class="col-12 col-lg-8">
      <%= render 'form', video_registration: @video_registration, talk: @talk %>
    </section>
  </section>

  <section class="row justify-content-center">
    <section class="col-12 col-lg-8">
      <%= link_to 'Back', speaker_dashboard_path %>
    </section>
  </section>

</div>