<div class="col-auto col-md-auto">
  <div class="category_difficulty block">
    <table>
      <% if talk.talk_difficulty.present? && talk.talk_difficulty_id != 4 && talk.talk_category_id != 18 %>
      <tr>
        <th>難易度</th>
        <td><%= talk.talk_difficulty.name %></td>
      </tr>
      <% end %>
      <% if talk.proposal_item_value("execution_phase").present? %>
      <tr>
        <th>実行フェーズ</th>
        <td>
          <%= talk.proposal_item_value("execution_phase").map(&:to_s).join("<br/>").html_safe %>
        </td>
      </tr>
      <% end %>
      <% if talk.proposal_item_value("assumed_visitor").present? %>
      <tr>
        <th>想定受講者</th>
        <td>
          <%= talk.proposal_item_value("assumed_visitor").map(&:to_s).join("<br/>").html_safe %>
        </td>
      </tr>
      <% end %>
    </table>
    <% if @conference.closed? %>
      <% if talk.video_published %>
        <span class="difficulty archivable">アーカイブ視聴可</span>
      <% else %>
        <span class="difficulty non_archivable">アーカイブ視聴不可</span>
      <% end %>
    <% end %>
    <% if talk.sponsor.present? %>
      <span class="difficulty">スポンサーセッション</span>
    <% end %>
  </div>
</div>
