<div class="row py-3">
  <div class="col-12 my-3 pt-2" style="border-top: 1px solid #CCC">
    <ul>
      <li><a href="<%= talk.document_url %>" target="_blank">発表資料</a></li>
    </ul>
  </div>
</div>
