<div class="mb-2">
  <div class="ratio ratio-16x9">
    <iframe
      src="https://www.youtube-nocookie.com/embed/<%= talk.video.youtube_video_id %>?rel=0"
      title="<%= talk.title %>"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen>
    </iframe>
  </div>
</div>
