<div class="mb-2">
  <video
    id="my-player"
    class="video-js video-js vjs-16-9 vjs-big-play-centered"
    data-setup='{"fluid": true}'
    controls
    preload="auto"
  >
    <source src="<%= talk.video.video_id %>" type="application/x-mpegURL" />
  </video>
</div>
