<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-hashtags="<%= hash_tag %>">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
