<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-6">
            <h1>登録情報変更</h1>
            <%= render 'form', profile: @profile %>
        </div>
    </div>
</div>