<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-6 registration-form py-3 px-md-5">

            <h2>登録情報変更</h2>
            <%= render 'form', profile: @profile %>
        </div>
    </div>
</div>