<!DOCTYPE html>
<html>
  <head>
    <title>EntrySheet</title>
  </head>
  <body>
    <div class="a8-container">
      <%= render 'profiles/partial_entry_sheet/up_left_cell'%>
      <%= render 'profiles/partial_entry_sheet/up_right_cell'%>
      <%= render 'profiles/partial_entry_sheet/bottom_cell'%>
    </div>
  </body>
</html>

