<!DOCTYPE html>
<html>
  <head>
    <title>EntrySheet</title>
  </head>
  <body>
    <div class="a8-container">
      <%= render 'profiles/partial_entry_sheet/up_left_cell'%>
      <div class="a8">Content 2.1</div>
      <div class="a8">Content 3</div>
      <div class="a8">Content 4</div>
    </div>
  </body>
</html>

