<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-12 registration-form">
      <h2>新規登録</h2>
      <div class="block"></div>

      <% if logged_in? %>
        <%= render 'form', profile: @profile %>
      <% else %>
        <div class="col-12 align-self-baseline my-4 justify-content-center text-center">
          <%= button_to 'ログイン / サインアップ', '/auth/auth0', {method: :post, class: "btn btn-focus btn-xl inline" } %>
          <%= label_tag 'entry', '参加登録するにはCloudNative Daysへのサインアップが必要です' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
