<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 py-3">
      <div class="card h-100">
        <div class="card-body">
          <%= image_tag 'cicd2023/hands-on.png', style: 'width: 100%'%>
          <h4 class="card-title" id="kontest" style="color: #2E2F30">
            CI/CD Hands-on
          </h4>
          <h6 class="card-subtitle text-muted mb-3">
            開催日時：2023/03/17 (金) 14:00-16:00
          </h6>

          <p class="card-text">
            CI/CD Conference 2023 のテーマは『Continuous 〜<b>ともに回す 高速なアプリケーション 開発ライフサイクル</b>〜』これらを実現するために Co-located イベント を開催します。
          </p>

          <p class="card-text">
            Co-located イベントCI/CD ハンズオンでは、しっかりと手を動かして技術を試すことを目的にしています。Co-located イベントに参加した後は、本編のCI/CD Conferenceで技術や活用ノウハウを知り、イベント参加後に実際に技術を取り入れるという流れを是非作ってください。
          </p>
          <br>

          <h5><strong>申込方法・参加方法</strong></h5>

          <p class="card-text">
            申込みはページ下部にある各ハンズオンの申し込みページまでお願いします。<b>ハンズオンごとに申し込み定員が制限</b>されているため、お早めのお申込みをお願いいたします。
          </p>
          <p class="card-text">
            イベントはオンラインで実施され、各ハンズオンが提供するZoom・Google Meets・Microsoft teamsなどを利用します。また、環境のセットアップなどの事前準備が必要な場合もあるため、各ハンズオン主催者の指示に従ってください。
          </p>
          <br>

          <h5><strong>スケジュール</strong></h5>
          <p class="card-text">
          <ul>
            <li>
            開催日時：2023/03/17 (金) 14:00-16:00 （CI/CD Conference 2023 3日前）
            </li>
            <li>
            <b>ハンズオンスポンサー様による講義・ハンズオンイベント</b>
              <ul>
                <li><a href="#hs0">『Snyk ハンズオン ワークショップ - Snyk四製品(Snyk Code & Open Source & Container & IaC)の体験』by Snyk株式会社</a></li>
                <li><a href="#hs1">『Sysdigを使ってKubernetes環境のランタイム脅威検知とセキュリティポスチャー管理を実施』by Sysdig Japan合同会社</a></li>
              </ul>
            </li>
          </ul>

        <div class="handson-session">
          <h5 id="hs0"><strong>『Snyk ハンズオン ワークショップ - Snyk四製品(Snyk Code & Open Source & Container & IaC)の体験』by Snyk株式会社</strong></h5>
          <ul>
            <li>
            <% if @current_user %>
              申し込みURL：<a href="https://go.snyk.io/jp-workshop-20230317.html">https://go.snyk.io/jp-workshop-20230317.html</a>
            <% else %>
              <strong class="alert-url">申し込みURLを表示するには CICD2023 サイトにログインしてください。</strong>
            <% end %>
            </li>
            <li>
            開催日時：2023/03/17 (金) 14:00-16:00
            </li>
          </ul>

          <p class="card-text">
          Snykはデベロッパーファーストのセキュリティプラットフォームです。コードやオープンソースとその依存関係、コンテナやIaC(Infrastructure as Code) における脆弱性を見つけるだけでなく、優先順位をつけて修正するためのツールです。<br>
          <br>
          Gitや統合開発環境（IDE）、CI/CDパイプラインに直接組み込むことができるので、開発者が簡単に使うことができます。<br>
          <br>
          開発者とセキュリティチームは、カスタムコードのセキュリティ問題とオープンソースの依存関係の脆弱性の両方を簡単に見つけて修正し、リスクを低減して開発のスピードを向上させることができます。ぜひハンズオンセッションでSnykをご体感ください。<br>
          </p>
        </div>

        <div class="handson-session">
          <h5 id="hs1"><strong>『Sysdigを使ってKubernetes環境のランタイム脅威検知とセキュリティポスチャー管理を実施』by Sysdig Japan合同会社</strong></h5>
          <ul>
            <li>
            <% if @current_user %>
              申し込みURL：<a href="https://go.sysdig.com/2023.03.17-cloudsecurityhandson_sysdig.html">https://go.sysdig.com/2023.03.17-cloudsecurityhandson_sysdig.html</a>
            <% else %>
              <strong class="alert-url">申し込みURLを表示するには CICD2023 サイトにログインしてください。</strong>
            <% end %>
            </li>
            <li>
            開催日時：2023/03/17 (金) 14:00-16:00
            </li>
          </ul>

          <p class="card-text">
          Kubernetesを採用している方向けに、実際にAWS EKS環境とsysdigを使って、擬似攻撃に対するランタイム脅威検知とKubernetesのポスチャー管理を実施するハンズオントレーニングです。これにより「なぜシフトレフトだけではなくランタイムでの脅威検知が重要なのか」を学ぶことができます。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
