<div class="container">
  <div class="row p-md-4" id="contents">
    <div class="col-12 col-md-12 py-3" id="handson">
      <%= image_tag 'cnds2025/hands-on-full.png', style: 'width: 100%'%>
      <h2 class="text-center mt-4" id="">
        CNDS2025 Hands-on
      </h2>
      <h4 class="text-center mb-3">
        開催日時：2025/5/19 (月) 10:00 - 16:30 （途中お昼休憩あり）
      </h4>
      <p>
        CloudNative Days Summer 2025では、以前のCloudNative Days Winter 2024で好評だった Co-located ハンズオンを開催することになりました。
      </p>
      <p>
        Co-located ハンズオンでは、しっかりと手を動かして技術を試すことを目的にしています。Co-located イベントに参加した後は、本編のCNDS2025で技術や活用ノウハウを知り、イベント参加後に実際に技術を取り入れるという流れを是非作ってください。
      </p>
      <h3 class="mt-4">申込方法・参加方法</h3>
      <p>
        申込みはページ下部にある各ハンズオンの申し込みページまでお願いします。<b>ハンズオンごとに申し込み定員が制限</b>されているため、お早めのお申込みをお願いいたします。
      </p>
      <p>
        イベントはオフラインまたはオンラインで実施され、各ハンズオンが提供するZoom・Google Meets・Microsoft Teamsなどを利用します。また、環境のセットアップなどの事前準備が必要な場合もあるため、各ハンズオン主催者の指示に従ってください。
      </p>

      <h3 class="mt-4">開催予定ハンズオン</h3>
      <div class="session">
        <h5 class="time">2025/5/19 (月) 10:00 - 16:30 （途中お昼休憩あり）</h5>
        <h4 class="title"><a href="#hc6">『一日で学ぶクラウドネイティブ技術実践ハンズオン』by CloudNative Days Summer 2025 実行委員会</a></h4>
      </div>
      <div class="session">
        <h5 class="time">2025/5/22 (木) 14:30 - 17:00 </h5>
        <h4 class="title"><a href="#hc2">『Kubernetes Upstream Training in Japan at CNDS2025』by Cloud Native Community Japan</a></h4>
      </div>

      <div class="session">
        <h5 class="time">2025/5/24 (土) 13:30 - 19:00 </h5>
        <h4 class="title"><a href="#hc4">『Jagu'e'r 沖縄分科会 GoogleCloudハンズオン』by Jagu'e'r 沖縄分科会&Google Cloud</a></h4>
      </div>

      <div class="handson-session">
        <h3 id="hc6">『一日で学ぶクラウドネイティブ技術実践ハンズオン』by CloudNative Days Summer 2025 実行委員会</h3>
        <ul>
          <li>
            <% if @current_user %>
              申し込みURL：<a href="https://docs.google.com/forms/d/e/1FAIpQLSc0zeAVhIBW4s_wLdEdsFFacgnuzPqTcnMCL1xhMUj-JQoR4A/viewform">https://docs.google.com/forms/d/e/1FAIpQLSc0zeAVhIBW4s_wLdEdsFFacgnuzPqTcnMCL1xhMUj-JQoR4A/viewform</a>
            <% else %>
              <strong class="alert-url">申し込みURLを表示するには CNDS2025 サイトにログインしてください。</strong>
            <% end %>
          </li>
          <li>
            開催日時：2025/5/19 (月) 10:00 - 16:30 （途中お昼休憩あり）
          </li>
        </ul>
        <p>
          このハンズオンは、Kubernetesやクラウドネイティブ技術に精通したメンバーが、2025年現在でデファクトとなっている（デファクトになりそうな）新しい技術について一気に学べるように設計したハンズオンです。
          下記のような様々なトピックを、手を動かしながら1日で学ぶことができます。<br>
          2023年に開催した際には、申し込みわずか半日で定員の4倍の申し込みがあり、急遽増枠した大人気イベントです。<br>

          <h5>【学べるOSS】</h5>
          <ul>
            <li>Docker</li>
            <li>Kubernetes</li>
            <li>Prometheus</li>
            <li>Grafana</li>
            <li>Pyroscope</li>
            <li>Loki</li>
            <li>Tempo</li>
            <li>Open Telemetry</li>
            <li>Cilium</li>
            <li>Argo CD</li>
            <li>Argo Rollouts</li>
            <li>Istio</li>
            <li>Hubble</li>
          </ul>

          <h5>【参加情報】</h5>
          <ul>
            <li>参加：無料</li>
            <li>定員：オンライン25名（先着）</li>
            <li>オンライン会場：Zoom</li>
          </ul>
          <h5>【講師プロフィール】</h5>
          CloudNative Days Summer 2025 実行委員会有志
        </p>
      </div>

      <div class="handson-session">
        <h3 id="hc1">『Kubernetes Upstream Training in Japan at CNDS2025』by Cloud Native Community Japan</h3>
        <ul>
          <li>
            <% if @current_user %>
              申し込みURL：<a href=" https://community.cncf.io/events/details/cncf-cloud-native-community-japan-presents-joint-meetup-kubernetes-upstream-training-in-japan-at-cnds2025-in-okinawa/"> https://community.cncf.io/events/details/cncf-cloud-native-community-japan-presents-joint-meetup-kubernetes-upstream-training-in-japan-at-cnds2025-in-okinawa/</a>
            <% else %>
              <strong class="alert-url">申し込みURLを表示するには CNDS2025 サイトにログインしてください。</strong>
            <% end %>
          </li>
          <li>
            開催日時：2025/05/22 (木) 14:30 - 17:00
          </li>
        </ul>
        <p>
          Kubernetes Upstream Training in Japan は Kubernetes コミュニティでコントリビューションを始めたい方のためのコミュニティ参加入門講座です。Kubernetes コミュニティの説明、参加のための心構え、様々なコントリビューション方法、Kubernetes コミュニティ公式の Slack や練習用リポジトリを用いたコントリビューションの練習を日本語で紹介しています。<br>
          講師陣は、現役のメンテナーやコントリビューターが担当しています。お気軽にご参加ください！<br>
          Kubernetes Upstream Training in Japan は、Cloud Native Community Japan (CNCJ) の SIG の一つである Kubernetes Upstream Training Japan (KUTJ) が、Kubernetes コミュニティと連携しながら運営しています。<br>

          Kubernetes Upstream Training in Japan を CloudNative Days Summer 2025 (CNDS2025) にてハイブリッドで開催します！<br>
          参加応募締切は、5/15(木) 23:59 です。現地参加とリモート参加でそれぞれ枠に限りがございますので超えた時点で早期に締め切ります。<br>
          簡単な事前課題があります。実施の上、ご参加ください。<br>
          また、CNCF コミュニティ行動規範、およびCloudNative Days の行動規範に準拠します。申し込みページからご一読ください。


          <h5>【参加情報】</h5>
          <ul>
            <li>参加：無料</li>
            <li>定員：オフライン20名（先着）、オンライン50名（先着）※ただし両方合わせて上限70名まで</li>
            <li>オフライン会場：SAKURA innobase Okinawa https://www.sakura.ad.jp/innobase/（〒900-0032 沖縄県那覇市松山1-2-13 長谷工那覇ビル1F）</li>
            <ul>
              <li>アクセス・入館方法は後日メールにてご連絡いたします。</li>
            </ul>
            <li>オンライン会場：Zoom</li>
          </ul>
          <h5>【講師プロフィール】</h5>
          <ul>
            <li>武藤 周（NECソリューションイノベータ株式会社）</li>
            <li>解 紫圯（NECソリューションイノベータ株式会社）</li>
            <li>稲生 章人（NECソリューションイノベータ株式会社）</li>
            <li>nasa9084（LINEヤフー株式会社）</li>
            <li>岡部 純弥（筑波大学）</li>
          </ul>
        </p>
      </div>

      <div class="handson-session">
        <h3 id="hc4">『Jagu'e'r 沖縄分科会 GoogleCloudハンズオン』by Jagu'e'r 沖縄分科会&Google Cloud</h3>
        <ul>
          <li>
            <% if @current_user %>
              申し込みURL：<a href="https://jaguer.connpass.com/event/354013/">https://jaguer.connpass.com/event/354013/</a>
            <% else %>
              <strong class="alert-url">申し込みURLを表示するには CNDS2025 サイトにログインしてください。</strong>
            <% end %>
          </li>
          <li>
            開催日時：2025/5/24 (土) 13:30 - 19:00
          </li>
        </ul>
        <p>
          Google Cloudに触れてみたい！生成AIアプリを開発してみたい！という皆さまに向けたコミュニティイベントを開催します！<br>
          沖縄分科会も立ち上がりましたので CloudNative Days開催地でもある、沖縄で開催します！<br>
          今回のイベントでは、Googleの社員やJagu'e'rメンバーが講師となり、クラウドの基礎からGoogle Cloudの入門、そして話題の生成AIを活用したアプリケーション開発までを体験できるハンズオンをご提供します。<br>

         「クラウドって何？」「Google Cloudってどう使うの？」 という初心者の方も大歓迎！ 学生の皆さん、社会人の皆さん、どなたでもお気軽にご参加ください<br>

          <h5>【参加情報】</h5>
          <ul>
            <li>参加：無料※オフラインのみ</li>
            <li>会場：琉球大学 千原キャンパス 工学部1号館321教室</li>
          </ul>
          <h5>【講師プロフィール】</h5>
          Jagu'e'r 沖縄分科会&Google Cloud
        </p>
      </div>

      <hr />

      <%
=begin %>
      <div class="col-12 my-4">
        <h2 class="text-center mt-4">企画一覧</h2>
        <section class="projects">
          <%= render(partial: "contents/cnds2024/projects") %>
        </section>
      </div>
      <%
=end %>

    </div>
  </div>
</div>
