<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 py-3">
      <div class="card h-100">
        <div class="card-body">
          <%= link_to '#job-board' do %>
            <h4 class="card-title" id="job-board" style="color: #2E2F30">
              CNDT2021 Job Board
            </h4>
          <% end %>
          <h6 class="card-subtitle text-muted mb-3">
            公開期限：2021/11/12（金）
          </h6>
          <h6 class="card-subtitle mb-3">
            参加URL：
            <% if @current_user %>
              <a href="https://miro.com/app/board/o9J_lrLaU1A=/" target="_blank">https://miro.com/app/board/o9J_lrLaU1A=/</a> (Miroが開きます)
            <% else %>
              <strong>表示するには CNDT2021 サイトにログインしてください。</strong>
            <% end %>
          </h6>

          <p class="card-text">この CNDT2021 Job Board は、CloudNative関連のポジションについての情報がまとめられています。参加者・登壇者・スポンサーに関係なく、自由に募集要項を記載してください。</p>
          <p class="card-text">興味があるポジションがあれば、連絡をとってみましょう！</p>
          <p class="card-text"><strong>なお、各社・各団体で1枚までとしてください。</strong></p>
          
          <% if @current_user %>
            <hr />
            <h4>↓ Job Board 現在の様子</h4>
            <iframe src="https://miro.com/app/board/o9J_lrLaU1A=/?autoplay=yep" style="width: 100%; min-height: 600px;" frameborder="0" scrolling="no" allowfullscreen></iframe>
              
            <p>書き込む場合は<a href="https://miro.com/app/board/o9J_lrLaU1A=/" target="_blank">https://miro.com/app/board/o9J_lrLaU1A=/</a> をクリック！</p>          
          <% end %>

          <h6 class="text-muted my-3">
            企画・運営：CNDT2021 実行委員会
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
