<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 py-3">
      <div class="card h-100">
        <div class="card-body">
          <%= image_tag 'cndt2022/hands-on.png', style: 'width: 100%'%>
          <h4 class="card-title" id="kontest" style="color: #2E2F30">
            CNDT2022 Hands-on
          </h4>
          <h6 class="card-subtitle text-muted mb-3">
            開催日時：2022/11/18 (金) 10:00-18:30
          </h6>

          <p class="card-text">
           CloudNative Days Tokyo 2022でも、前回のObservability Conference 2022で好評だった Co-located ハンズオンを開催することになりました。
          </p>

          <p class="card-text">
            Co-located ハンズオンでは、しっかりと手を動かして技術を試すことを目的にしています。Co-located イベントに参加した後は、本編のCNDT2022で技術や活用ノウハウを知り、イベント参加後に実際に技術を取り入れるという流れを是非作ってください。
          </p>

          <h5><strong>申込方法・参加方法</strong></h5>

          <p class="card-text">
            申込みはページ下部にある各ハンズオンの申し込みページまでお願いします。<b>ハンズオンごとに申し込み定員が制限</b>されているため、お早めのお申込みをお願いいたします。
          </p>
          <p class="card-text">
            イベントはオンラインで実施され、各ハンズオンが提供するZoom・Google Meets・Microsoft teamsなどを利用します。また、環境のセットアップなどの事前準備が必要な場合もあるため、各ハンズオン主催者の指示に従ってください。
          </p>

          <h5><strong>スケジュール</strong></h5>
          <p class="card-text">
          <ul>
            <li>
              開催日: 2022/11/18 (金)（CNDT 2022 3日前）
            </li>
            <li>
              午前 (10:00–12:00):</b>
              <ul>
                <li><a href="#hc0">『Docker+LandoでCMS環境を構築してみよう』 by 丸山 ひかる</a></li>
                <li><a href="#hc1">『KubernetesのIngressとして動作するNGINX Ingress Controller設定入門ハンズオン』 by 田邊 淳一</a></li>
                </ul>
            </li>
            <li>
              午後 (14:00–):</b>
              <ul>
                <li><a href="#hs0">『Kubernetes Upstream Training』by 稲生章人 / 武藤周 / 大道憲一 / 毛利唯子 / カイシイ / 河村真樹 / 犬飼敏章</a></li>
                <li><a href="#hs0">『OCI DevOps で体験する CI/CD パイプライン』by 市川豊 / 仁井田拓也</a></li>
                <li><a href="#hs1">『Snyk ハンズオン ワークショップ  - 全四製品(Snyk Code & Open Source & Container & IaC)の体験』by 相澤 俊幸 / Toshi Aizawa</a></li>
                <li><a href="#hs2">『Sysdigを使ってKubernetes環境のランタム脅威検知とセキュリティポスチャー管理を実施』 by 竹内 洋</a></li>
              </ul>
            </li>
          </ul>


          <div class="handson-session">
            <h5 id="hc0"><strong>『Docker+LandoでCMS環境を構築してみよう』 by 丸山 ひかる</strong></h5>
            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://connpass.com/event/228437/">https://connpass.com/event/228437/</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2022 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2022/11/18 10:00-12:00
              </li>
            </ul>
            <p class="card-text">Landoは、オープンソース製のクロスプラットフォームのローカル開発環境構築ツールです。Landoを使用することで、複雑なDockerファイルの作成をすることなく、特定の開発ユースケース（Drupal、Laravel、Symfonyなど）を満たす環境をDocker上に簡単にセットアップできます。本ハンズオンでは、オープンソースCMS「Drupal」を例に、LandoとDockerを使用してLAMP環境を構築する手順をご紹介します。
            </p>
          </div>

          <div class="handson-session">
            <h5 id="hc1"><strong>『KubernetesのIngressとして動作するNGINX Ingress Controller設定入門ハンズオン』 by 田邊 淳一</strong></h5>
            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://f5networks.zoom.us/webinar/register/WN_O1Xw0KAwRy6EXYmRkjFIEg">https://f5networks.zoom.us/webinar/register/WN_O1Xw0KAwRy6EXYmRkjFIEg</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2022 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2022/11/18 10:00-12:00
              </li>
            </ul>
            <p class="card-text">
            KubernetesのIngressとして動作するNGINX Ingress Controllerの機能をお試し頂けるハンズオンです。NGINX Ingress Controllerの設定・動作確認に加えて、Ingressで設定するWAF機能やL7 DoS対策機能も一緒にお試し頂けます。
            <br>
            <br>
            このハンズオントレーニングでカバーする主なトピック:
              ・NGINX Ingress ControllerによるWebアプリの通信制御
              ・NGINX Ingress ControllerによるWebアプリのセキュリティ
              ・NGINX Ingress ControllerによるTCP/UDPの通信制御
              ・想定外の動作となった場合の切り分け方法
            </ul>          
            当日は、下記ハンズオンガイドを使用する予定です。<br>
            <a href="https://f5j-nginx-ingress-controller-lab1.readthedocs.io/en/latest/index.html">https://f5j-nginx-ingress-controller-lab1.readthedocs.io/en/latest/index.html</a><br>
            <br>
            日時：2022年11月18日 10:00-12:00　(オンライン/zoom）<br>
            参加：無料<br>
            定員：20名<br>
            </p>
          </div>

          <div class="handson-session">
            <h5 id="hs0"><strong>『Kubernetes Upstream Training』by 稲生章人 / 武藤周 / 大道憲一 / 毛利唯子 / カイシイ / 河村真樹 / 犬飼敏章</strong></h5>
            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://docs.google.com/forms/d/e/1FAIpQLSeiJPvvwkTqCejHj9C7dQJClJoEqUibEAaG8q3yZfR47ismvA/viewform">https://docs.google.com/forms/d/e/1FAIpQLSeiJPvvwkTqCejHj9C7dQJClJoEqUibEAaG8q3yZfR47ismvA/viewform</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2022 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2022/11/18 14:00-18:30
              </li>
            </ul>
            <p class="card-text">
            KubernetesアップストリームトレーニングはKubernetesの新機能開発・バグ修正・ドキュメント作成などのコミュニティ開発を円滑に行うためのトレーニングプログラムです。参加者はKubernetesコミュニティの概要を把握できることに加えて、Kubernetesコミュニティに対する具体的な貢献方法をハンズオン形式で学ぶことが出来ます。<br>
            <br>
            講師は Kubernetes コミュニティにおいてMember以上の開発者で構成されており、日本語での議論・相談が可能です。技術面だけでなく、オープンなコミュニティにおけるコミュニケーションや議論の進め方など、提案を受け入れてもらうための手法についてもお伝えします。            </p>
          </div>

          <div class="handson-session">
            <h5 id="hs1"><strong>『OCI DevOps で体験する CI/CD パイプライン』 by 市川豊 / 仁井田拓也</strong></h5>
            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://ochacafe.connpass.com/">https://ochacafe.connpass.com/</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2022 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2022/11/18 14:00-16:00
              </li>
            </ul>
            <p class="card-text">
            Oracle Cloud Infrastructure (OCI) のサービスである OCI DevOps を利用して、ソースコードの変更をトリガーに、コンテナイメージのビルドからKubernetes クラスタへアプリケーション（サンプル）をデプロイする CI/CD パイプライン環境を構築するハンズオンを実施します。コンテナアプリケーション開発における CI/CD の一歩を一緒に踏み出しましょう。
            </p>
          </div>

          <div class="handson-session">
            <h5 id="hs2"><strong>『Snyk ハンズオン ワークショップ  - 全四製品(Snyk Code & Open Source & Container & IaC)の体験』 by 相澤 俊幸 / Toshi Aizawa</strong></h5>
            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://go.snyk.io/Jp-workshop-20221118.html">https://go.snyk.io/Jp-workshop-20221118.html</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2022 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2022/11/18 14:00-16:00
              </li>
            </ul>
            <p class="card-text">
            Snykはデベロッパーファーストのセキュリティプラットフォームです。コードやオープンソースとその依存関係、コンテナやIaC(Infrastructure as Code) における脆弱性を見つけるだけでなく、優先順位をつけて修正するためのツールです。
            Gitや統合開発環境（IDE）、CI/CDパイプラインに直接組み込むことができるので、開発者が簡単に使うことができます。
            開発者とセキュリティチームは、カスタムコードのセキュリティ問題とオープンソースの依存関係の脆弱性の両方を簡単に見つけて修正し、リスクを低減して開発のスピードを向上させることができます。ぜひハンズオンセッションでSnykをご体感ください。
            </p>
          </div>

          <div class="handson-session">
            <h5 id="hs3"><strong>『Sysdigを使ってKubernetes環境のランタム脅威検知とセキュリティポスチャー管理を実施』 by 竹内 洋</strong></h5>
            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://connpass.com/event/262601/">https://connpass.com/event/262601/</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2022 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2022/11/18 14:00-16:00
              </li>
            </ul>
            <p class="card-text">開催概要<br>
            Kubernetesを採用している方むけに、実際にAWS EKS環境とSysdigを使って、擬似攻撃に対するランタイム脅威検知とKubernetesのポスチャー管理を実施するハンズオントレーニンです。これにより「なぜシフトレフトだけではなくランタイムでの脅威検知が重要なのか」を学ぶことができます。<br>
            <br>
            必須要件
            <ol>
            <li>Linux, Kubernetes、AWSの基本知識と使用経験があること</li>
            <li>Sysdig SaaSトライアルアカウントを事前に作成済みであること</li>
            </ol>
            Sysdigトライアルアカウントの作成について<br>
            下記リンクからSELECT ALLで全ての機能にチェックを入れてお申し込みください。<br>
            <a href="https://sysdig.com/company/start-free/">https://sysdig.com/company/start-free/</a><br>
            注記：トライアルアカウントの有効期間は30日です。ハンズオン開始の1週間前程度を目安に作成をお願いします。<br>
            <br> 
            所要時間<br>
              2時間<br>
            <br>
            ハンズオン内容<br>
             * 講義：Sysdig概要紹介<br>
             * ラボ：Sysdig Agentのインストール<br>
             * ラボ：ランタイム脅威検知<br>
             * ラボ：Kubernetesのセキュリティポスチャー管理<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
