<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 py-3 contents">
      <div class="card h-100">
        <div class="card-body">
          <%= image_tag 'cndt2023/hands-on.png', style: 'width: 100%'%>
          <h4 class="card-title" id="kontest" style="color: #2E2F30">
            CNDT2023 Hands-on
          </h4>
          <h6 class="card-subtitle text-muted mb-3">
            開催日時：2023/11/18 (金) 10:00-18:30
          </h6>

          <p class="card-text">
           CloudNative Days Tokyo 2023でも、前回のObservability Conference 2023で好評だった Co-located ハンズオンを開催することになりました。
          </p>

          <p class="card-text">
            Co-located ハンズオンでは、しっかりと手を動かして技術を試すことを目的にしています。Co-located イベントに参加した後は、本編のCNDT2023で技術や活用ノウハウを知り、イベント参加後に実際に技術を取り入れるという流れを是非作ってください。
          </p>
          <br>
          <h5><strong>申込方法・参加方法</strong></h5>

          <p class="card-text">
            申込みはページ下部にある各ハンズオンの申し込みページまでお願いします。<b>ハンズオンごとに申し込み定員が制限</b>されているため、お早めのお申込みをお願いいたします。
          </p>
          <p class="card-text">
            イベントはオンラインで実施され、各ハンズオンが提供するZoom・Google Meets・Microsoft teamsなどを利用します。また、環境のセットアップなどの事前準備が必要な場合もあるため、各ハンズオン主催者の指示に従ってください。
          </p>
          <br>
          <h5><strong>スケジュール</strong></h5>
          <p class="card-text">
          <ul>
            開催期間: 2023/12/4 (月)〜2023/12/8 (金)（CNDT2023 前週）
            <li><a href="#hc0">『Kubernetes エコシステム一挙トレーニング』by CloudNative Days Tokyo 2023 実行委員会</a></li>
            <ul><li>2023/12/8（金）10:00 - 17:00 （途中お昼休憩あり）</li></ul>
          </ul>

          <div class="handson-session">
            <h5 id="hc0"><strong>『Kubernetes エコシステム一挙トレーニング』by CloudNative Days Tokyo 2023 実行委員会</strong></h5>
            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://docs.google.com/forms/d/e/1FAIpQLSf41IhlbwDO-vNe0UCoJ6_EwnxN8eCyF5A4_JGGJ5wwvozUdw/viewform">https://docs.google.com/forms/d/e/1FAIpQLSf41IhlbwDO-vNe0UCoJ6_EwnxN8eCyF5A4_JGGJ5wwvozUdw/viewform</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2023 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2023/12/8（金）10:00 - 17:00 （途中お昼休憩あり）
              </li>
            </ul>
            <p class="card-text">
            このハンズオンは、KubernetesやCloudNative技術に精通したメンバーが、2023年現在でデファクトとなっている新しい技術について一気に学べるように設計したハンズオンです。
            下記のような様々なトピックを、手を動かしながら1日で学ぶことができます。<br> 

            【学べるOSS】
            <ul>
              <li>Prometheus</li>
              <li>Grafana</li>
              <li>Open Telemetry</li>
              <li>Cilium</li>
              <li>Argo CD</li>
              <li>Argo Rollouts</li>
              <li>Istio</li>
              <li>Hubble</li>
            </ul>

            【参加情報】
            <ul>
              <li>参加：無料</li>
              <li>定員：オフライン20名（先着）、オンライン10名（先着）</li>
              <li>オフライン会場：渋谷スクランブルスクエア 21F（東京都渋谷区渋谷2-24-12）</li>
              <ul><li>※渋谷スクランブルスクエアへのアクセス・入館方法は<a href="https://www.cyberagent.co.jp/way/list/detail/id=25112">こちら</a></li></ul>
            <li>オンライン会場：Zoom</li>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
