<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 py-3">
      <div class="card h-100">
        <div class="card-body">
          <%= image_tag 'cicd2021/hands-on.png', style: 'width: 100%'%>
          <h4 class="card-title" id="kontest" style="color: #2E2F30">
            CNDT2021 Hands-on
          </h4>
          <h6 class="card-subtitle text-muted mb-3">
            開催日時：2021/11/02 (火) 10:00-17:00
          </h6>

          <p class="card-text">
           CloudNative Days Tokyo 2021でも、前回のCI/CD Conference 2021でも好評だった『Continuous 〜技術を<b>知り、試し、取り入れる</b>〜』Co-located ハンズオンを開催することになりました。
          </p>

          <p class="card-text">
            Co-located ハンズオンでは、しっかりと手を動かして技術を試すことを目的にしています。Co-located イベントに参加した後は、本編のCNDT2021で技術や活用ノウハウを知り、イベント参加後に実際に技術を取り入れるという流れを是非作ってください。
          </p>

          <h5><strong>申込方法・参加方法</strong></h5>

          <p class="card-text">
            申込みはページ下部にある各ハンズオンの申し込みページまでお願いします。<b>ハンズオンごとに申し込み定員が制限</b>されているため、お早めのお申込みをお願いいたします。
          </p>
          <p class="card-text">
            イベントはオンラインで実施され、各ハンズオンが提供するZoom・Google Meets・Microsoft teamsなどを利用します。また、環境のセットアップなどの事前準備が必要な場合もあるため、各ハンズオン主催者の指示に従ってください。
          </p>

          <h5><strong>スケジュール</strong></h5>
          <p class="card-text">
          <ul>
            <li>
              開催日: 2021/11/02 (木)（CNDT 2021 前々日）
            </li>
            <li>
              午前 (10:00–13:00): <b>CloudNative Days 実行委員 / コミュニティ有志によるハンズオンイベント</b>
              <ul>
                <li>『Kubernetes で始める GitOps の基礎について(CI/CD Conference再演＋α)』 by CloudNative Days 実行委員会 有志</li>
              </ul>
            </li>
            <li>
              午後 (14:00–17:00): <b>ハンズオンスポンサー様による講義・ハンズオンイベント</b>
              <ul>
                <li><a href="#hs1">『準備中』by 日本オラクル株式会社</a></li>
                <li>『準備中』by New Relic</li>
                <li>『準備中』by Red Hat</li>
                <li>『Kubernetes GitOps with Rancher Continuous Delivery』by SUSE ソフトウエアソリューションズジャパン株式会社</li>
                <li>『クラウドネイティブストレージを実践ハンズオン』by ピュア・ストレージ・ジャパン(株) </li>
                <li>『Security for Developers - DevSecOps on AWS』by アマゾンウェブサービスジャパン</li>
                <li>『Amazon EKS Observability Workshop』by アマゾンウェブサービスジャパン</li>
                <li>Prometheus「あれれ～？Podが動いてないぞ～？」原因を特定せよ！ by クリエーションライン株式会社</li>
              </ul>
            </li>
          </ul>

          <br>

          <h5><strong>『Kubernetes で始める GitOps の基礎について』 by CloudNative Days 実行委員 有志</strong></h5>

          <ul>
            <li>
              申し込みURL：準備中</a>
            </li>
            <li>
              開催日時：2021/11/2 10:00-13:00
            </li>
          </ul>

          <p class="card-text">
            本ハンズオンは Web Assembly と Golang を用いたアプリケーションを題材に、アプリケーションのテスト、コンテナイメージの最適化、よりセキュアなコンテナイメージの作成、Kubernetes への自動デプロイなどを実際に GitOps パイプラインを組みながら学んでいきます。
          </p>

          <%= image_tag 'cicd2021/k8s-gitops.png', style: 'width: 100%'%>

          <p class="card-text">
            ※ ハンズオンにあたり、Web Assembly、Golang の知識は必要ありません<br>
            ※ Git による操作の知識が必要です<br>
            ※ 事前にハンズオンで利用するツール（Docker・minikube・CLI など）をご自身のPCにインストールする必要があります<br>
          </p>


          <h5 id="hs1"><strong>『GitLab CI/CD入門ハンズオンワークショップ』 by GitLab合同会社</strong></h5>

          <ul>
            <li>
              申し込みURL：<a href="https://page.gitlab.com/gitlab-ci-cd-workshop-cloudnative.html">https://page.gitlab.com/gitlab-ci-cd-workshop-cloudnative.html</a>
            </li>
            <li>
              開催日時：2021/9/2 14:00-17:00
            </li>
          </ul>

          <p class="card-text">
          GitLabを単なるソースコード管理ツールとして使うのはもったいないことです。GitLabはソースコード管理ツールではなく、DevOpsプラットフォームをシングルアプリケーションで提供し、プロジェクト計画、ソースコード管理、CI/CD、セキュリティを兼ね備えており、役割に関係なく、すべてのユーザーにとって信頼できる唯一の情報源 (Single Source of Truth) として機能します。ツールチェーンの複雑さを排除し、エンドツーエンドの可視性を向上させて組織改革の高速化を支援します。

          その中でもGitLab CI/CDパイプラインは、DevOpsにおける活動の自動化を実現し、プロセスを効率化するための不可欠な要素です。
          
          本ワークショップでは、GitLab CI/CDパイプラインを触ったことのない方やなんとなく使っている方向けに、GitLab CI/CDパイプラインの基礎を一緒に学習します。さらにハンズオンセッションで実際にCI/CDパイプラインを体験することで、受講後にすぐに普段の開発環境でCI/CDパイプラインに取り組めることを目指します。
          </p>

          <h5 id="hs2"><strong>『Title』 by Company</strong></h5>

          <ul>
            <li>
              申し込みURL：<a href=""></a>
            </li>
            <li>
              開催日時：2021/11/2 14:00-
            </li>
          </ul>

          <p class="card-text">
          Abstract
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
<% @message_box = "豊富な併設イベントも開催中！" %>
