<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 py-3">
      <div class="card h-100">
        <div class="card-body">
          <%= image_tag 'cndt2021/hands-on.png', style: 'width: 100%'%>
          <h4 class="card-title" id="kontest" style="color: #2E2F30">
            CNDT2021 Hands-on
          </h4>
          <h6 class="card-subtitle text-muted mb-3">
            開催日時：2021/11/02 (火) 9:00-18:30
          </h6>

          <p class="card-text">
           CloudNative Days Tokyo 2021でも、前回のCI/CD Conference 2021でも好評だった『Continuous 〜技術を<b>知り、試し、取り入れる</b>〜』Co-located ハンズオンを開催することになりました。
          </p>

          <p class="card-text">
            Co-located ハンズオンでは、しっかりと手を動かして技術を試すことを目的にしています。Co-located イベントに参加した後は、本編のCNDT2021で技術や活用ノウハウを知り、イベント参加後に実際に技術を取り入れるという流れを是非作ってください。
          </p>

          <h5><strong>申込方法・参加方法</strong></h5>

          <p class="card-text">
            申込みはページ下部にある各ハンズオンの申し込みページまでお願いします。<b>ハンズオンごとに申し込み定員が制限</b>されているため、お早めのお申込みをお願いいたします。
          </p>
          <p class="card-text">
            イベントはオンラインで実施され、各ハンズオンが提供するZoom・Google Meets・Microsoft teamsなどを利用します。また、環境のセットアップなどの事前準備が必要な場合もあるため、各ハンズオン主催者の指示に従ってください。
          </p>

          <h5><strong>スケジュール</strong></h5>
          <p class="card-text">
          <ul>
            <li>
              開催日: 2021/11/02 (木)（CNDT 2021 前々日）
            </li>
            <li>
              午前 (9:00–13:00):</b>
              <ul>
                <li><a href="#hc1">『Kubernetes で始める GitOps の基礎について(CI/CD Conference再演＋α)』 by CloudNative Days 実行委員会 有志</a></li>
              </ul>
            </li>
            <li>
              午後 (14:00–):</b>
              <ul>
                <li><a href="#hs0">『Kubernetes Upstream Training』 by 稲生章人 / 武藤周 / 毛利唯子 / 河村真樹 / 犬飼敏章</a></li>
                <li><a href="#hs1">『Oracle Container Engine for Kubernetes(OKE)でサンプルマイクロサービスアプリケーションをデプロイしてオブザバビリティツールを利用してみよう』by 日本オラクル株式会社</a></li>
                <li><a href="#hs2">『Amazon EKS 環境で実践するパフォーマンス問題の原因特定』by New Relic</a></li>
                <li><a href="#hs3">『Red Hat OpenShiftを活用してクラウドネイティブな開発を体験してみよう（中級編）』by Red Hat</a></li>
                <li><a href="#hs4">『Kubernetes GitOps with Rancher Continuous Delivery』by SUSE ソフトウエアソリューションズジャパン株式会社</a></li>
                <li><a href="#hs5">『クラウドネイティブストレージを実践ハンズオン』by ピュア・ストレージ・ジャパン(株)</a> </li>
                <li><a href="#hs6">『Security for Developers - DevSecOps on AWS』by アマゾンウェブサービスジャパン</a></li>
                <li><a href="#hs7">『Amazon EKS Observability Workshop』by アマゾンウェブサービスジャパン</a></li>
                <li><a href="#hs8">『Prometheus「あれれ～？Podが動いてないぞ～？」原因を特定せよ！』 by クリエーションライン株式会社</a></li>
                <li><a href="#hs9">『GitLab Shift-Left入門ハンズオンワークショップ』by GitLab合同会社</a></li>
                <li><a href="#hs10">『Elastic Observability & App Search ワークショップ』by Elastic</a></li>
              </ul>
            </li>
          </ul>

          <br>

          <div class="handson-session">
            <h5 id="hc1"><strong>『Kubernetes で始める GitOps の基礎について』 by CloudNative Days 実行委員 有志</strong></h5>

            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://forms.gle/cgkL94Jc1xPzrCMF7">https://forms.gle/cgkL94Jc1xPzrCMF7</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2021 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2021/11/2 9:00-13:00
              </li>
            </ul>

            <p class="card-text">
              本ハンズオンは Web Assembly と Golang を用いたアプリケーションを題材に、アプリケーションのテスト、コンテナイメージの最適化、よりセキュアなコンテナイメージの作成、Kubernetes への自動デプロイなどを実際に GitOps パイプラインを組みながら学んでいきます。
            </p>

            <%= image_tag 'cicd2021/k8s-gitops.png', style: 'width: 100%'%>

            <p class="card-text">
              ※ ハンズオンにあたり、Web Assembly、Golang の知識は必要ありません<br>
              ※ Git による操作の知識が必要です<br>
              ※ 事前にハンズオンで利用するツール（Docker・minikube・CLI など）をご自身のPCにインストールする必要があります<br>
            </p>
          </div>

          <div class="handson-session">
            <h5 id="hs0"><strong>『Kubernetes Upstream Training』 by 稲生章人 / 武藤周 / 毛利唯子 / 河村真樹 / 犬飼敏章</strong></h5>

            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://forms.gle/kF7zuuyoopD7BuA16">https://forms.gle/kF7zuuyoopD7BuA16</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2021 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2021/11/2 14:00-18:30
              </li>
            </ul>

            <p class="card-text">
            KubernetesアップストリームトレーニングはKubernetesの新機能開発・バグ修正・ドキュメント作成などのコミュニティ開発を円滑に行うためのトレーニングプログラムです。参加者はKubernetesコミュニティの概要を把握できることに加えて、Kubernetesコミュニティに対する具体的な貢献方法をハンズオン形式で学ぶことが出来ます。<br>
            <br>
            講師は Kubernetes コミュニティにおいてMember以上の開発者で構成されており、日本語での議論・相談が可能です。技術面だけでなく、オープンなコミュニティにおけるコミュニケーションや議論の進め方など、提案を受け入れてもらうための手法についてもお伝えします。
            </p>
          </div>

          <div class="handson-session">
            <h5 id="hs1"><strong>『Oracle Container Engine for Kubernetes(OKE)でサンプルマイクロサービスアプリケーションをデプロイしてオブザバビリティツールを利用してみよう』 by 日本オラクル株式会社</strong></h5>

            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://connpass.com/event/228437/">https://connpass.com/event/228437/</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2021 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2021/11/2 14:00-17:30
              </li>
            </ul>

            <p class="card-text">最初にセッションとして、OKEの紹介とObservability（ハンズオン概要含む）についてお話します。<br>ハンズオンでは、実際にKubernetesクラスタ上にデプロイしたマイクロサービスアプリケーション（サンプル）をOSS（Istio、Prometheus、Grafana、Loki、Jaeger、Kiali）のツールを利用して、オブザバビリティを体験します。<br>
            ・Kubernetesクラスタ構築<br>
            ・マイクロサービスアプリケーション（サンプル）デプロイ<br>
            ・Observabilityツールのインストールと利用体験
            </p>
          </div>

          <div class="handson-session">
            <h5 id="hs2"><strong>『Amazon EKS 環境で実践するパフォーマンス問題の原因特定』 by New Relic </strong></h5>

            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://newrelic.com/jp/events/2021-11-02/nru-for-amazoneks">https://newrelic.com/jp/events/2021-11-02/nru-for-amazoneks</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2021 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2021/11/2 14:00-16:00
              </li>
            </ul>

            <p class="card-text">
            Amazon EKS 環境で構築・運用している方、またはこれから自社システム環境に Kubernetes の採用を検討している方向けに、実際に Amazon EKS 環境に展開されたNew Relic One を使用して、コンテナ環境特有の運用上の課題とその解決方法についてハンズオン形式で学ぶトレーニングセミナーです。インフラとアプリケーション両方のパフォーマンス追跡やボトルネックの特定、アクセス負荷に対するコンテナリソースの偏りや起動失敗の原因分析方法、キャパシティ管理や性能管理など、コンテナ環境でよくある課題を「オブザーバビリティ」を活用して実践的に解決する方法について学びます。<br>
            <br>
            このハンズオントレーニングでカバーするトピック<br>
            ・アプリケーションの処理負荷やボトルネック特定の基本<br>
            ・コンテナ環境の状態を可視化、把握するダッシュボードの作成<br>
            ・コンテナ環境における負荷の偏りやその原因の特定<br>
            ・指定した数のコンテナが安定的に起動しない問題の原因特定 (イメージの Pull の失敗、割り当てリソース不足、容量不足など)<br>
            </p>
          </div>

          <div class="handson-session">
            <h5 id="hs3"><strong>『Red Hat OpenShiftを活用してクラウドネイティブな開発を体験してみよう（中級編）』 by Red Hat</strong></h5>

            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://openshift.connpass.com/event/228279/">https://openshift.connpass.com/event/228279/</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2021 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2021/11/2 14:00-18:00
              </li>
            </ul>

            <p class="card-text">
              Red Hat OpenShiftはエンタープライズ向けKubernetesという特徴に加えて，Developer向けの仕組みを数多く備えています。OpenShiftはクラウドネイティブなアプリケーションを開発・提供することができるクラウド製品ですが，なかなかこれを体験してみる機会は少ないかと思います。<br>
              そこで，クラウドネイティブ志向な皆さんにむけて，The CCN Roadshow(Dev Track)というコンテンツを利用してハンズオンを開催いたします。クラウドネイティブ開発らしく，ブラウザ一本携えてお越しください！<br>
              <br>
              [Lab1] 高パフォーマンスキャッシュ可能なサービスの作成<br>
              ・Quarkusを含むPolyglotマイクロサービスのビルドとデプロイ<br>
              ・Red Hat DataGrid(Infinispan)を利用したキャッシュサービスの作成<br>
              <br>
              [Lab2] イベントドリブン/リアクティブサービスの作成<br>
              ・Red Hat AMQ Streams(apache kafka)のクラスタを作成<br>
              ・Lab1で作成したマイクロサービスをイベントドリブンに進化させる<br>
              <br>
              [Lab3] サーバーレスサービスへの進化<br>
              ・超音速！Native BuildしたQuarkusの速度体験<br>
              ・Red Hat OpenShift Serverlessでマイクロサービスの一部をサーバーレス化<br>
              ・Tekton を使った Cloud Native CI/CD Pipelines の作成<br>
              <br>
              補足：<br>
              このハンズオンはアプリケーションのソースコードをコンテンツの指示にしたがって編集する箇所が多くあり，アプリケーションエンジニアでない方はソース編集で詰まりやすい傾向があります。そこで，途中途中に答えとなるリポジトリを用意しておりますので，アーキテクトやインフラ出身の方にも全体感を理解していただけるような進行を目指しています。
            </p>
          </div>

          <div class="handson-session">
            <h5 id="hs4"><strong>『Kubernetes GitOps with Rancher Continuous Delivery』by SUSE ソフトウエアソリューションズジャパン株式会社</strong></h5>

            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://rancher.connpass.com/event/227382/">https://rancher.connpass.com/event/227382/</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2021 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2021/11/2 14:00-15:00
              </li>
            </ul>

            <p class="card-text">
            Rancher 2.5からの標準機能にContinuous Deliveryが加わっており、Git上の更新内容を簡単にKubernetes に反映することが可能です。
  今回のハンズオンでは、GitOps単位のCluster Groupの作成と該当クラスタの登録から、GithubにPushした修正をクラスタにデプロイするまでの演習を行います。
            </p>
          </div>

          <div class="handson-session">
            <h5 id="hs5"><strong>『クラウドネイティブストレージを実践ハンズオン』by ピュア・ストレージ・ジャパン(株)</strong></h5>

            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://connpass.com/event/228162/">https://connpass.com/event/228162/</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2021 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2021/11/2 14:00-14:30
              </li>
            </ul>

            <p class="card-text">
            クラウドネイティブストレージであるPortworxを使ってボリュームのレプリケーションを作成し、データベースのHAを設定します。フェイルオーバーした際に、kubernetesのスケジューラーと連携し、データベースコンテナがデータがレプリケーションされているノードに再スケジュールされ、ローカル性能を生かせるように配置される事をご確認頂けます。
            </p>
          </div>

          <div class="handson-session">
            <h5 id="hs6"><strong>『Security for Developers - DevSecOps on AWS』by アマゾンウェブサービスジャパン</strong></h5>

            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://aws-container.connpass.com/event/227811/">https://aws-container.connpass.com/event/227811/</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2021 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2021/11/2 14:00-17:00
              </li>
            </ul>

            <p class="card-text">
            このワークショップでは、セキュリティの「Shift Left」を体験していただきます。最初に、よくある脆弱性を仕込んだWebアプリケーションのCICD パイプラインを構築していただきます。このパイプラインに、SonarQube やOWASP ZAP proxy によるSAST/DAST のセキュリティチェックの仕組みを追加し、コードの変更毎にこれらのレビューが実行される仕組みを構築します。この仕組みを使って、実際に脆弱性を解決していくことで、パイプラインの中にセキュリティを組み込む方法を学びます。
            </p>
          </div>

          <div class="handson-session">
            <h5 id="hs7"><strong>『Amazon EKS Observability Workshop』by アマゾンウェブサービスジャパン</strong></h5>

            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://aws-container.connpass.com/event/227809/">https://aws-container.connpass.com/event/227809/</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2021 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2021/11/2 14:00-
              </li>
            </ul>

            <p class="card-text">
            システムを運用する中で、未知の事象に遭遇した経験はありませんか。何が起こっているのかを素早く把握するためには、そのシステムが “観測可能” な状態にある、すなわち Observability (可観測性) を確保している必要があります。本ワークショップでは、Amazon CloudWatch Container Insights や AWS X-Ray を用いて、Amazon EKS クラスター上で稼働するシステムに対して Observability を確保する方法について学びます。 
            </p>
          </div>

          <div class="handson-session">
            <h5 id="hs8"><strong>『Prometheus「あれれ～？Podが動いてないぞ～？」原因を特定せよ！』 by クリエーションライン株式会社</strong></h5>

            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://docs.google.com/forms/d/e/1FAIpQLSemJNRMjg5xMmwpQ6mDHlUJLpXvPMrBrTU6I3zzKn7Qkv0iqg/viewform">https://docs.google.com/forms/d/e/1FAIpQLSemJNRMjg5xMmwpQ6mDHlUJLpXvPMrBrTU6I3zzKn7Qkv0iqg/viewform</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2021 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2021/11/2 14:00-
              </li>
            </ul>

            <p class="card-text">
            クリエーションライン株式会社で提供しているKubernetesトレーニング オブザーバビリティ編をCNDT2021に出張してお届けします！<br>
            <br>
            今回は、本トレーニングの中から、Prometheusを使ってkubernetes上で動作するアプリケーションの障害検知とトラブルシューティングを学ぶハンズオンを行います。<br>
            1. Prometheusとは<br>
            2. Kubernetesトラブルシューティングハンズオン<br>
            <br>
            トレーニング全体の内容の詳細は弊社のHPでご確認ください。<br>
            <a href="https://www.creationline.com/training/kubernetes-observability">https://www.creationline.com/training/kubernetes-observability</a>
            </p>
          </div>

          <div class="handson-session">
            <h5 id="hs9"><strong>『GitLab Shift-Left入門ハンズオンワークショップ』by GitLab合同会社</strong></h5>

            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://page.gitlab.com/cloud-native-days-security-workshop.html">https://page.gitlab.com/cloud-native-days-security-workshop.html</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2021 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2021/11/2 14:00-
              </li>
            </ul>

            <p class="card-text">
            アジャイル開発、スクラムなどのプラクティスの普及によって、漸進的に開発を進めたりフィードバックを得ることが多くなってきていると思います。ただし、機能開発以外の、セキュリティのテストなどは、リリース直前にまとめて行われることもまた多いのではないでしょうか。<br>
            <br>
            「機能開発は進んでいるが、最後のセキュリティテストをしていないからリリースできない」<br>
            「何スプリントも進めたあとの脆弱性診断で問題が見つかり作り直しになった」<br>
            <br>せっかくアジャイル開発を実施しているのであれば、上記ウォーターフォールモデルで発生しがちな開発ライフサイクルの最後に大きな問題が見つかることは避ける必要があります。<br>
            <br>
            GitLabは、セキュリティを継続的インテグレーションに統合し、開発ライフサイクルの早い段階で脆弱性を検知することを支援できます。<br>
            <br>
            本ワークショップでは、GitLab を触ったことのない方や、なんとなく使っている方向けに、GitLab CI/CDパイプラインにどのようにセキュリティテストを組み込むか、どのように問題を検知できるかを、ハンズオンセッションでの体験を通して学び、現場でご利用・普及推進に取り組めることを目指します。
            </p>
          </div>

          <div class="handson-session">
            <h5 id="hs10"><strong>『Elastic Observability & App Search ワークショップ』by Elastic</strong></h5>

            <ul>
              <li>
                <% if @current_user %>
                  申し込みURL：<a href="https://elastic.connpass.com/event/228222/">https://elastic.connpass.com/event/228222/</a>
                <% else %>
                  <strong class="alert-url">申し込みURLを表示するには CNDT2021 サイトにログインしてください。</strong>
                <% end %>
              </li>
              <li>
                開催日時：2021/11/2 14:00-17:00 (Observability 2時間、App Search 1時間）
              </li>
            </ul>

            <p class="card-text">
              <ul>
              <li>Elastic Observability ワークショップ
                <ul>
                <li>ラボ1 - Elastic クラウド環境の構築</li>
                <li>ラボ2 - メトリックとログの取得と視覚化</li>
                <li>ラボ3 - セキュリティ</li>
                <li>ラボ4 - 機械学習</li>
                <li>ラボ5 - APM</li>
                </ul>
              </li>
              <li>Elastic App Search ワークショップ
                <ul>
                <li>ラボ1 - Enterprise Searchの導入</li>
                <li>ラボ2 - App Searchにデータを追加</li>
                <li>ラボ3 - Search インターフェースのカスタマイズ</li>
                <li>ラボ4 - Search UI (React) の使用</li>
                </ul>
              </li>
              </ul>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<% @message_box = "豊富な併設イベントも開催中！" %>
