<div class="container">
  <h1 class="my-3 text-center">併設イベント</h1>
      <div class="row">
        <div class="col-12 col-md-12 py-3">
        <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">
                Kubernetes Upstream Training
            </h5>
            <h6 class="card-subtitle text-muted mb-3">
                開催日時：2020/09/07 13:00 - 17:30
            </h6>
            <h6 class="card-subtitle text-muted mb-3">
                募集定員：25人
            </h6>
            <h6 class="card-subtitle text-muted mb-3">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdpheFiWQsl7pFpFUZCXwPAu0L4UbFERF7Ln2jxbI9gbGQgew/viewform">参加登録URL</a>
            </h6>
            <p class="card-text">Kubernetes Upstream Trainingは、現役のコントリビュータをメンターに迎えて、KubernetesのOSSのに対してコントリビューションを行う方法を実践的に学ぶイベントです。参加当日は実際にOSSへのコントリビューションを行います。Cloud Native Days Tokyo 2019やその他のイベントでも実施され、毎回大人気なコンテンツとなっています。オンライン開催に伴い、当日は参加者とメンターはZoomに参加して実施します。参加者に限りがあるため、参加希望の方は上記の「参加登録URL」から登録をお願いします。</p>
            <%= image_tag "https://github.com/kubernetes/kubernetes/blob/master/logo/logo.png?raw=true", :size => '90x90'  %>

        </div>
        </div>
        </div>
    </div>
</div>
<% @message_box = "豊富な併設イベントも開催中！" %>