<div class="container">
  <h1 class="my-3 text-center">併設イベント</h1>
      <div class="row">
        <div class="col-12 col-md-12 py-3">
        <div class="card h-100">
        <div class="card-body">
            <h4 class="card-title">
                Kubernetes Upstream Training
            </h4>
            <h6 class="card-subtitle text-muted mb-3">
                開催日時：Day0 2020/09/07 (Mon) 13:00 - 17:30
            </h6>
            <h6 class="card-subtitle text-muted mb-3">
                募集定員：25人
            </h6>
            <h6 class="card-subtitle mb-3">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdpheFiWQsl7pFpFUZCXwPAu0L4UbFERF7Ln2jxbI9gbGQgew/viewform">参加登録URL</a>（募集期限：8/31、定員に達し次第締め切り）
            </h6>

            <p class="card-text">KubernetesアップストリームトレーニングはKubernetesの新機能開発・バグ修正・ドキュメント作成などのコミュニティ開発を円滑に行うためのトレーニングプログラムです。参加者はKubernetesコミュニティの概要を把握できることに加えて、Kubernetesコミュニティに対する具体的な貢献方法をハンズオン形式で学ぶことが出来ます。</p>
            <p class="card-text">講師は Kubernetes コミュニティにおいてMember以上の開発者で構成されており、日本語での議論・相談が可能です。技術面だけでなく、オープンなコミュニティにおけるコミュニケーションや議論の進め方など、提案を受け入れてもらうための手法についてもお伝えします。</p>
            <p class="card-text">Cloud Native Days Tokyo 2019やその他のイベントでも実施され、毎回大人気なコンテンツとなっています。オンライン開催に伴い、当日は参加者とメンターはZoomに参加して実施します。参加者に限りがあるため、参加希望の方は<strong>8/31までに</strong>上記の「参加登録URL」から登録をお願いします。</p>

            <h6 class="text-muted mb-3">
                メンター：稲生章人 NECソリューションイノベータ株式会社 主任
            </h6>
            <h6 class="text-muted mb-3">
                メンター：武藤周 NECソリューションイノベータ株式会社
            </h6>

            <%= image_tag "https://github.com/kubernetes/kubernetes/blob/master/logo/logo.png?raw=true", :size => '90x90'  %>
        </div>
        </div>
        </div>
    </div>
</div>
<% @message_box = "豊富な併設イベントも開催中！" %>