<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 py-3">
      <div class="card h-100">
        <div class="card-body">
          <%= link_to '#kontest' do %>
            <h4 class="card-title" id="kontest" style="color: #2E2F30">
              Kontest（Kubernetes Contest）
            </h4>
          <% end %>
          <h6 class="card-subtitle text-muted mb-3">
            開催日時：Day1 2020/09/08 (火) 14:00 - Day2 2020/09/09 (水) 23:59
          </h6>
          <h6 class="card-subtitle mb-3">
            参加URL：
            <% if @current_user %>
              <a href="https://k-ontest.cloudnativedays.jp">https://k-ontest.cloudnativedays.jp</a>
            <% else %>
              <strong>表示するには CNDT2020 サイトにログインしてください。</strong>
            <% end %>
          </h6>

          <p class="card-text">あなたのKubernetes力を試してみませんか？</p>
          <p class="card-text">Kontestはアプリケーションの実行に必要なマニフェストを適切に書けるかをクイズ形式でゲーム感覚で学べるコンテンツです。Kontestの問題は全部で19問。初級〜中級の問題を中心に全問正解を目指して挑戦してください！</p>


          <div class="" id="kontest-more-body">
            <p class="card-text"><strong>参加時にGitHubアカウントでのログインが必要です。ランキングページにGitHubのユーザ名が表示されます。</strong></p>

            <%= image_tag "contents/kontest.png", :width => '70%', style: 'margin-bottom:30px;' %>

            <h6 class="text-muted mb-3">
              問題作成：CNDT2020 実行委員会
            </h6>
            <h6 class="text-muted mb-3">
              解説：株式会社カサレアル
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% @message_box = "豊富な併設イベントも開催中！" %>
