<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-12 registration-form py-3 px-md-5">
      <% flash.each do |key, value| %>
        <p id="notice" class="alert alert-success" role="alert"><%= flash[:notice] %></p>
      <% end %>
      <h2><%= @conference.abbr.upcase %> プロフィール更新フォーム</h2>
      <%= render 'form', submit_button_label: "プロフィールを更新する" %>
    </div>
  </div>
</div>
