<div class="japanese-modern-theme">
<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-6 registration-form py-3 my-3 px-md-5">
      <% flash.each do |key, value| %>
        <p id="notice" class="alert alert-success" role="alert"><%= flash[:notice] %></p>
      <% end %>
      <h2 class="text-center section-header w-100 text-center border-bottom-0 mb-5" style="border-bottom: none !important;"><%= @conference.name %><br/>公開プロフィール登録フォーム</h2>

      <%= render 'form', submit_button_label: "プロフィールを登録する" %>
    </div>
  </div>
</div>
</div>
