<div class="container">
  <div class="btn-group track-button d-flex row" role="group">
    <% @tracks.each do |track| %>
      <%= link_to "Track#{track.number}", "",
          { class: "btn btn-outline-secondary track_button #{'active' if params[:id] == "#{track.number}"}", track_id: track.id.to_s } %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-12 col-md-8 movie-wrap">
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe src="" id="video" frameborder="0"  allow="autoplay; fullscreen" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
        <%# <iframe src="https://player.vimeo.com/video/442363621" id="video" frameborder="0"  allow="autoplay; fullscreen" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe> %>
      </div>
      <div id="track_information">
        <h2 id="video_title"></h2>
        <h3 id="abstract"></h3>
      </div>
    </div>
    <!-- div class="col-12 col-md-4 ">
      <a href="https://twitter.com/intent/tweet?button_hashtag=CNDT2020&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #CNDT2020</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <br />
      <iframe src="https://vimeo.com/live-chat/442363621/" height="400" frameborder="0"></iframe>
    </div-->
    <div class="col-12 col-md-4 ">
      <iframe src="https://app.sli.do/event/qto2ktew" height="100%" width="100%" style="min-height: 560px;"></iframe>
    </div>
  </div>
</div>

<div id="messages">
    <%= render partial: 'message', collection: @messages %>
</div>

<form>
<label>Say something:</label><br/>
<input type="text" data-behavior="room_speaker"/>
</form>

<%= javascript_pack_tag 'tracks/index.js' %>