<h1> chat</h1>

<div id="messages">
    <%= render partial: 'message', collection: @messages %>
</div>

<form>
<label>Say something:</label><br/>
<input type="text" data-behavior="room_speaker"/>
</form>