#cndw2025 {
    //height: 100vh;
    // background: linear-gradient(-45deg, rgba(33, 33, 33, 0.6), rgba(100, 100, 100, 0.6));
    position: relative;
    #about {
        background-color: $white;
        .projects {
            div.project {
                a{
                    display: block;
                    img{
                        display: block;
                        margin: 0px auto;
                        width: 400px;
                        max-width: 100%;
                    }
                    img:hover{
                        box-shadow: 0px 0px 5px #CCC;
                    }
                }
            }
        }
    }
    #access {
        background-color: $primary;
        color: white;
    }
    #entry {
        background-color: $white
    }
    .contents {
        position: relative;
        z-index: 2;
    }
    .btn-entry {
        background-color: $primary;
        color: white;
        font-size: medium;
        font-weight: lighter;
        padding: 1em 2em;
        @media (min-width: 576px) {
            font-size: medium;
        }
        @media (min-width: 768px) {
            font-size: large;
        }
        @media (min-width: 992px) {
            font-size: x-large;
        }
        &:hover {
            background-color: $secondary;
            box-shadow: 0px 0px 10px #AAA;
        }
        &:focus {
            background-color: $secondary;
        }
    }
    #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(-45deg, rgba(33, 33, 33, 0.6), rgba(100, 100, 100, 0.6));
        }
    }
    #masthead {
        overflow: hidden;
        .date {
            font-weight: lighter;
            font-size: 3em;
            padding: 0;
            margin: 0;
            line-height: 1;
        }
        .remaining-date {
            font-weight: bold;
            font-size: 1.5em;
        }
    }
}