<%= render 'admin/layout' do %>
  <h1>New SpeakerAnnouncement</h1>

  <div class="row speaker-dashboard-form justify-content-center">
    <div class="col-12 col-lg-8">
      <%= render 'admin/speaker_announcements/form' %>
    </div>
  </div>
<% end %>
