<%= render 'admin/layout' do %>
  <h1>New SpeakerAnnouncement</h1>

  <div class="tw-grid tw-grid-cols-12 tw-gap-4 tw-justify-center speaker-dashboard-form">
    <div class="tw-col-span-12 lg:tw-col-span-8">
      <%= render 'admin/speaker_announcements/form', action: "new" %>
    </div>
  </div>
<% end %>
