<% if talk.proposal.present? && !talk.sponsor_session? %>
  <% message = talk.proposal.status_message %>
  <% badge_class = case talk.proposal.status
                   when "accepted" then "proposal-status-accepted"
                   when "rejected" then "proposal-status-rejected"
                   else "proposal-status-pending"
                   end %>
  <div class="proposal-status <%= badge_class %>"><%= message %></div>
<% end %>
