#cndo2021 header {
    padding-top: 10rem;
    padding-bottom: 0rem;
    position: relative;
}

#cndo2021 header #masthead {
  width: 20rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

header h1 {
  font-size: 2.25rem;
}

@media (min-width: 992px) {
  #cndo2021 header #masthead {
    width: 40rem;
  }
  #cndo2021 header {
    height: 30vh;
    min-height: 20rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  #cndo2021 header p {
    font-size: 1.15rem;
  }
  #cndo2021 header h1 {
    font-size: 3rem;
  }
  #cndo2021 .padding-top-0{
    padding-top: 0px;
  }
}
@media (min-width: 1200px) {
  #cndo2021 header h1 {
    font-size: 3.5rem;
  }
}


#cndo2021{
  //height: 100vh;
  background: linear-gradient(-45deg, rgba(33, 33, 33, 0.6), rgba(100, 100, 100, 0.6));
  position: relative;

}

#cndo2021 .contents{
  position: relative;
  z-index: 2;
}

#cndo2021 .background video{
  position: fixed;
  z-index: -100;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
}

.speaker-dashboard-form {
  background: rgba(256, 256, 256, 0.8);
}

.speaker-dashboard-form h2{
  font-weight: bold;
}


.speaker-dashboard-form p{
  font-size: larger;
  margin: 1em 0;
}

.speaker-dashboard-form ol{
  font-size: x-large;
  margin: 1em 0;
}

.speaker-dashboard-form .privacy p{
  font-size: small;
}

.speaker-dashboard-form:before h1{
  font-size: small;
}

.entry{
  font-size: xx-large;
}