<%= render "layouts/modal", title: "スポンサーセッションを登録する" do %>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-12 py-3 px-md-5">
      <% flash.each do |key, value| %>
        <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
      <% end %>
      <h1 class="text-center py-3 entry">スポンサーセッションを登録する</h1>
        <div class="field pb-3">
          <%= turbo_frame_tag "sponsor_session_form" do %>
            <%= render "sponsor_dashboards/sponsor_sessions/form",
                       conference: @conference,
                       sponsor: @sponsor,
                       sponsor_session: @sponsor_session,
                       sponsor_speakers: @sponsor_speakers,
                       flash: flash
            %>
          <% end %>
        </div>
    </div>
  </div>
<% end %>
