section.timetable {
    display: block;
    width: 98%;
    margin: 0 auto;
    .date {
        display: flex;
        -webkit-overflow-scrolling: touch;
        justify-content: center;
        color: white;
        padding-top: 1.5em;
    }
    .grid {
        display: grid;
        grid-template-rows: repeat(var(--rows), 2px);
        grid-template-columns: repeat(6, minmax(180px, 240px));
        grid-auto-columns: 100px;
        overflow-x: auto;
        overflow-scrolling: touch;
        -webkit-overflow-scrolling: touch;
        grid-gap: .125em .25em;
        justify-content: center;
    }
    .track {
        grid-column: calc(var(--track) + 1);
        grid-row: 1 / -1;
        display: flex;
        align-items: start;
        justify-content: center;
        background-color: rgba(256, 256, 256, 0.9);
    }
    .talk {
        --start: calc(1 + var(--track));
        --end: calc(2 + var(--track));
        grid-column: var(--start)/var(--end);
        grid-row: calc(1 + var(--row-start))/calc(1 + var(--row-end));
        justify-content: center;
        z-index: 1;
    }
    .talk:hover {
        z-index: 10;
    }
    .content {
        background-color: #FFF;
        margin: 2px;
        height: 100%;
        border-radius: 5px;
        border: solid 1px #CCC;
        overflow: hidden;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1);
        position: relative;
        &:hover {
            background-color: #EEF;
            height: auto;
            overflow: visible;
            min-height: 100%;
        }
        a {
            color: #333;
        }
        a:hover {
            color: #333;
            text-decoration: underline;
        }
        h4 {
            display: flex;
            margin: 0;
            align-items: center;
            font-size: 1rem;
            padding: 0.2rem;
            word-wrap: break-word;
            word-break: break-all;
            color: #333;
        }
        h5 {
            display: flex;
            margin: 0;
            align-items: center;
            font-size: 0.9rem;
            padding: 0.2rem;
            word-wrap: break-word;
            word-break: break-all;
            color: #333;
        }
        h6 {
            display: flex;
            margin: 0 auto;
            align-items: center;
            font-size: 0.7rem;
            padding: 0.2rem;
            word-wrap: break-word;
            word-break: break-all;
            color: #666;
        }
        .category_difficulty {
            margin: 0.2rem 0.1rem;
            line-height: 0.7rem;
        }
        .difficulty {
            font-size: 0.4rem;
            padding: 0.2rem;
            margin: 0;
            word-wrap: break-word;
            word-break: break-all;
            color: #FFF;
            background: $dark-blue;
            border-radius: 10px;
        }
        p {
            display: block;
        }
        hr {
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;
        }
        ul {
            font-size: 0.8rem;
            display: block;
            display: flex;
            align-items: start;
            justify-content: left;
        }
    }
    .content_caption {
        // -webkit-transition: .3s;
        // transition: .3s;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 80%;
        height: 1rem;
        text-align: center;
        opacity: 0;
        vertical-align: middle;
    }
    .content_caption span {
        font-size: 0.8em;
    }
    input[type="checkbox"]+.content .content_caption:before {
        content: "選択";
    }
    input[type="checkbox"]:checked+.content .content_caption:before {
        content: "選択解除";
    }
    .content:hover .content_caption {
        opacity: 0.8;
    }
    .checkbox-label input[type=checkbox] {
        visibility: hidden;
    }
    label.checkbox-label {
        display: contents;
    }
    label.checkbox-label input[type="checkbox"]:checked+.content {
        background-color: #DDF;
        border-radius: 5px;
        border: solid 1px $dark-blue;
    }
    .even {
        background-color: rgba(248, 248, 255, 0.8);
    }
    .avatar img {
        border-radius: 50%;
    }
    .card .avatar img {
        border-radius: 50%;
        margin: 10px;
    }
    .archivable {
        filter: hue-rotate(0deg);
    }
    .non_archivable {
        filter: hue-rotate(180deg);
    }
    .difficulty_11 {
        filter: hue-rotate(0deg);
    }
    .difficulty_12 {
        filter: hue-rotate(120deg);
    }
    .difficulty_13 {
        filter: hue-rotate(240deg);
    }
    .category_21 {
        filter: hue-rotate(0deg);
    }
    .category_22 {
        filter: hue-rotate(20deg);
    }
    .category_23 {
        filter: hue-rotate(40deg);
    }
    .category_24 {
        filter: hue-rotate(60deg);
    }
    .category_25 {
        filter: hue-rotate(80deg);
    }
    .category_26 {
        filter: hue-rotate(100deg);
    }
    .category_27 {
        filter: hue-rotate(120deg);
    }
    .category_28 {
        filter: hue-rotate(140deg);
    }
    .category_29 {
        filter: hue-rotate(160deg);
    }
    .category_30 {
        filter: hue-rotate(180deg);
    }
    .category_31 {
        filter: hue-rotate(200deg);
    }
    .category_32 {
        filter: hue-rotate(220deg);
    }
    .category_33 {
        filter: hue-rotate(240deg);
    }
    .category_34 {
        filter: hue-rotate(260deg);
    }
    .category_35 {
        filter: hue-rotate(280deg);
    }
    .category_36 {
        filter: hue-rotate(300deg);
    }
    .category_37 {
        filter: hue-rotate(320deg);
    }
    .track_name {
        display: none;
    }
    @media (max-width: 768px) {
        .grid {
            display: block;
            grid-template-rows: 100%;
            grid-template-columns: 100%;
        }
        .track_name {
            display: inline;
        }
        .track {
            display: none;
        }
        .content {
            border-left: 30px solid #DDD;
            padding: 5px 0px 10px 10px;
        }
        label.checkbox-label input[type="checkbox"]:checked+.content {
            border-left: 30px solid $dark-blue;
        }
        .content[track_number="1"] {
            filter: hue-rotate(0deg);
        }
        .content[track_number="2"] {
            filter: hue-rotate(40deg);
        }
        .content[track_number="3"] {
            filter: hue-rotate(80deg);
        }
        .content[track_number="4"] {
            filter: hue-rotate(120deg);
        }
        .content[track_number="5"] {
            filter: hue-rotate(160deg);
        }
        .content[track_number="6"] {
            filter: hue-rotate(200deg);
        }
        .content[track_number="7"] {
            filter: hue-rotate(240deg);
        }
        .content.first {
            margin-top: 20px;
        }
        h2 {
            margin: 15px 0px 5px 0px;
        }
    }
}

.modal-body {
    .category_difficulty {
        margin: 0 0 10px 0;
    }
    .difficulty {
        padding: 0.2rem;
        margin: 0;
        word-wrap: break-word;
        word-break: break-all;
        color: #FFF;
        background: $dark-blue;
        border-radius: 1rem;
    }
}

.timetable-footer {
    position: fixed;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    width: 100%;
    box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    input {
        border: 1px solid #FFF;
        box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.5);
    }
    .information {
        color: #FFF;
        font-size: small;
        text-align: center;
        line-height: 80%;
    }
}

input[type="checkbox"]+.content .content_caption:before {
    content: "選択";
}

input[type="checkbox"]:checked+.content .content_caption:before {
    content: "選択解除";
}
