// Variables
//- Override and add to color system
$orange: #f4623a;
$purple: #BD4392;
$dark-blue: #206A9B;
$brown: #5c4d42;
// CNDT2021 Theme color
$gunjyo: #465DAA;
$umemurasaki: #A8497A;
$usubeni: #C299AE;
$azurite: #254099;
$matcha: #D4CDB0;

$text: #444;
//- Override primary color
$primary: $gunjyo;
$secondary: $umemurasaki;
//- Override font system
$font-family-sans-serif: "Merriweather Sans",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$font-family-serif: "Merriweather",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$font-family-base: $font-family-serif;
$headings-font-family: $font-family-sans-serif;
//- Add custom variables
$navbar-height: 4.5rem;