<div class="container speaker-dashboard-form">
  <h1 class="text-center py-3 entry">スポンサーダッシュボード( <%= @sponsor.name %>)</h1>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-info" role="alert">
      <%= message %>
    </div>
  <% end %>

  <div class="row speaker-dashboard-form">
    <div class="col-12 my-4">
      <% if !logged_in? %>
        <%= button_to 'Log in', '/auth/auth0', {method: :post, class: "btn btn-primary btn-block btn-sm" } %>
      <% elsif @unable_found_in_sponsor_speakers %>
      <% else %>
        <%= render 'dashboard' %>
      <% end %>
    </div>
  </div>
</div>
