<div class="container">
  <%= render 'navigator' %>

  <h2><%= @conference.name %></h2>
  <p>status: <%= @conference.status %></p>
  <%= link_to 'Edit', edit_admin_conference_path(id: @conference.id) %>
</div>