<div class="container">
  <%= render 'navigator' %>

  <div class="row">
    <div class="col-12 form-group">
    <h2>Statistics</h2>
    </div>
    <div class="col-12 form-group">
      <h3>Export to CSV</h3>
      <%= button_to 'エクスポート', '/admin/export_statistics', {method: :get } %>
    </div>
  </div>
</div>
