<h4 class="mt-3">日本マイクロソフト株式会社/Microsoft Corporation</h4>
<p>
  日本マイクロソフト株式会社への個人情報の提供にご同意いただける場合は、以下にチェックをお願いいたします。
  ご同意いただいた場合、申し込み者情報に記載いただいた個人情報を、日本マイクロソフト株式会社へ提供するものとし、日本マイクロソフト株式会社の製品・サービス、ウェビナー等に関する情報のご案内（電子メールよるお知らせのほか、記事等のコンテンツも含みます。）の目的ために利用いたします。なお、日本マイクロソフト株式会社は、提供された個人情報を、以下のプライバシーステートメントに準拠し、取り扱うものとします。
</p>
<div class="form-check form-background">
  <%= form.check_box :agree_ms, {class: "form-check-input"}, true, false %>
  <label class="form-check-label" for="agree_ms">日本マイクロソフト株式会社への個人情報提供に同意する(<a href="https://privacy.microsoft.com/ja-jp/privacystatement/" target="_blank">プライバシーステートメント</a>)</label>
</div>