<div class="container">

  <% if logged_in? %>
    <%= render 'form', sponsor: @sponsor_profile %>
  <% else %>
    <div class="col-12 align-self-baseline my-4 justify-content-center text-center">
      <%= button_to 'スポンサーダッシュボードにログインする', '/auth/auth0', {method: :post, class: "btn btn-secondary btn-xl inline" } %>
    </div>
  <% end %>
</div>
