<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Talks</h1>
  <div class="card-deck">
    <% @talks.each_slice(3) do |sliced_talks| %>
      <div class="row py-3">
        <% sliced_talks.each do |talk| %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= talk.title %></h5>
              <p class="card-text">hogehogehogeoh</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New Talk', new_talk_path %>
