<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">

      <h1>New Talk</h1>

      <%= render 'form', talk: @talk %>

      <%= link_to 'Back', talks_path %>
    </div>
  </div>
</div>
