<div class="projects">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3 class="text-black mt-0">関連プロジェクト</h3>
      <hr class="divider my-4" />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 text-center project">
      <a href="https://cloudnativedays.jp/" target="_blank" rel="noopener">
        <img src="/images/cloudnativedays.png" alt="CloudNative Days">
      </a>
    </div>
  </div>
</div>