// Variables
//- Override and add to color system
$orange: #f4623a;
$purple: #BD4392;
$dark-blue: #206A9B;
$brown: hsl(25, 16%, 31%);
$gray: #808080;
// CNDW2024 Theme color
$sapporo-orange: #FF7900;
$hokkaido-sky: #00A6E1;
$biei-yellow: #FFAD00;
$furano-green: #028E9B;

$text: #2F2524;
//- Override primary color
$primary: $sapporo-orange;
$secondary: $hokkaido-sky;
//- Override font system
$font-family-sans-serif: "din-2014",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$font-family-serif: "din-2014",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$font-family-base: $font-family-serif;
$headings-font-family: $font-family-sans-serif;
//- Add custom variables
$navbar-height: 4.5rem;
