// Variables
//- Override and add to color system
$orange: #f4623a;
$purple: #BD4392;
$dark-blue: #206A9B;
$brown: hsl(25, 16%, 31%);
$gray: #808080;
// CNDW2024 Theme color

$tokyo-navy: #001a3a;
$ariake-blue: #008f9e;
$cnd-red: #ae291b;
$cnd-orange: #e26834;

$text: #001a3a;
//- Override primary color
$primary: $ariake-blue;
$secondary: $cnd-orange;
//- Override font system
$font-family-sans-serif: "din-2014",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$font-family-serif: "din-2014",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$font-family-base: $font-family-serif;
$headings-font-family: $font-family-sans-serif;
//- Add custom variables
$navbar-height: 4.5rem;
