<% provide(:title, 'スタンプラリーチェックイン記録') %>

<div class="container white_background mt-3">
  <h1 class="my-3 text-center">スタンプラリーCP一覧</h1>

  <% case @profile.stamp_rally_status %>
  <% when :not %>
    <p>スタンプラリーはまだ開始されていません。</p>
  <% when :in_progress %>
    <p>まだ回っていないCPがあります</p>
  <% when :pre_finished %>
    <p>全てのCPを回り終わりました！受付でゴールしてください</p>
  <% when :finished %>
    <p>ゴール！！！</p>
  <% else raise "Invalid status" %>
  <% end %>
  <div class="row row-cols-5 g-2">

    <% @stamp_rally_check_points.each_with_index do |check_point, index| %>
      <%= render "check_point", index: index, stamp_rally_check_ins: @stamp_rally_check_ins, check_point: check_point %>
    <% end %>

    <% @stamp_rally_check_point_finishes.each_with_index do |check_point, index| %>
      <%= render "check_point", index: index, stamp_rally_check_ins: @stamp_rally_check_ins, check_point: check_point %>
    <% end %>
  </div>
</div>
