<%= form_with(url: admin_conference_path, model: @conference, local: true, method: :patch) do |form| %>

  <h3>Status</h3>
  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <% form.object.class.statuses.keys.each do |key| %>
        <%= form.radio_button :status, key %>
        <%= form.label :status, key %><br>
      <% end %>
    </div>
  </div>

  <div class="form-row form-group">
    <div class="col-12 col-md-6">
      <%= form.submit %>
    </div>
  </div>

<% end %>