<tr class="link-field" data-controller="remove-link-field" data-remove-link-field-target="linkField">
  <td><%= f.text_field :title %></td>
  <td><%= f.text_field :url %></td>
  <td><%= f.text_field :description %></td>
  <td>
    <%= f.hidden_field :_destroy, data: { "remove-link-field-target": "hiddenInput" } %>
    <button type='button' data-action="click->remove-link-field#remove">Delete</button>
  </td>
</tr>
