<%= render 'admin/layout' do %>
  <div class="tw-mb-3 tw-grid tw-grid-cols-12 tw-gap-4">
    <div class="tw-col-span-10 tw-mb-3 tw-flex tw-items-center">
      <h2>Conference > <%= @conference.name %></h2>
    </div>
  </div>

  <div class="tw-grid tw-grid-cols-12 tw-gap-4 tw-justify-center">
    <div class="tw-col-span-12 tw-py-3 md:tw-px-12 tw-w-full admin-conference-form">
      <%= render 'form', conference_form: @conference_form %>
    </div>
  </div>
<% end %>
