<div class="col-12 col-xs-12 col-lg-3 align-self-baseline">
  <%= button_to 'アーカイブ視聴、資料はこちら', talks_path, {method: :get, class: "btn btn-primary btn-xl inline" } %>
</div>
<div class="col-12 col-xs-12 col-lg-3 align-self-baseline my-4">
  <%= button_to 'リンク集', links_path, {method: :get, class: "btn btn-primary btn-xl inline" } %>
</div>
