<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
      <h2 class="text-white mt-0">開催概要</h2>
      <hr class="divider light my-4" />
      <h5 class="text-white mt-0">名称</h5>
      <p class="text-white-75 mb-4 text-center"><%= conference.name %></p>
      <h5 class="text-white mt-0">日程</h5>
      <p class="text-white-75 mb-4 text-center"><%= days %></p>
      <!-- #TODO: Need to describe about hybrid place h5 class="text-white mt-0">会場</h5>
      <p class="text-white-75 mb-4 text-center">オンライン開催</p-->
      <h5 class="text-white mt-0">主催</h5>
      <p class="text-white-75 mb-4 text-center">CloudNative Days Tokyo Committee</p>
      <h5 class="text-white mt-0">参加費</h5>
      <p class="text-white-75 mb-4 text-center">無料 (事前登録制)</p>
      <h5 class="text-white mt-0">想定来場者</h5>
      <p class="text-white-75 mb-4 text-center">インフラエンジニア SRE, アプリエンジニアなど8割以上が開発者、その他 CTO/CIO, システムインテグレーターなど</p>
      <h5 class="text-white mt-0">キーワード</h5>
      <p class="text-white-75 mb-4 text-center">CloudNative, Kubernetes, Container, Microservices, CI/CD, DevOps, Edge/NFV, AI/Machine Learning, GPU/HPC</p>
    </div>
  </div>
</div>