<% if display_speaker_dashboard_link? %>
  <p class="display-4">
    <% if @conference.speaker_entry_enabled? %>
    登壇者募集中!
    <% end %>
  </p>
  <%= link_to speaker_entry_button_name, speaker_entry_button_path, {method: :get, class: "btn btn-entry btn-xl  m-2" } %>
<% end %>
