<!DOCTYPE html>
<html>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <% @events.each do |event| %>
        <%= link_to "/#{event.abbr}" do %>
          <div class="col-lg-12 align-self-end">
            <h1 class="text-uppercase text-white font-weight-bold"><%= event.name %></h1>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</header>