<%= render 'admin/layout' do %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-info" role="alert">
      <%= message %>
    </div>
  <% end %>

  <h2>Editing Speaker</h2>

  <%= render 'speaker_dashboard/speakers/form', speaker: @speaker %>

  <%= link_to 'Back', admin_speakers_url %>
<% end %>
