<%= render 'admin/layout' do %>
  <% flash.each do |message_type, message| %>
    <div class="tw-mb-4 tw-rounded tw-border tw-border-blue-300 tw-bg-blue-50 tw-p-4 tw-text-blue-800" role="alert">
      <%= message %>
    </div>
  <% end %>

  <h2>Editing Speaker</h2>

  <%= render 'speaker_dashboard/speakers/form' %>

  <%= link_to 'Back', admin_speakers_url %>
<% end %>
