#cicd2021 {
    //height: 100vh;
    background: linear-gradient(-45deg, rgba(33, 33, 33, 0.6), rgba(100, 100, 100, 0.6));
    position: relative;
}

#cicd2021 .contents {
    position: relative;
    z-index: 2;
}

#cicd2021 #masthead {
    background: linear-gradient(to bottom, rgba(66, 58, 87, 0.7), rgba(66, 58, 87, 0.9)), url(../images/cicd2021/masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .date {
        font-size: 4em;
        font-weight: lighter;
    }
}

#cicd2021 #about {
    background-color: $concrete-gray
}

// Speaker Dashboard
.speaker-dashboard-form {
    background: rgba(255, 255, 255, 0.95);
}

#speaker-landing {
    line-height: 200%;
}

@media (max-width: 992px) {
    #speaker-landing {
        line-height: 130%;
    }
}

.speaker-dashboard-form h2 {
    font-weight: bold;
}

.speaker-dashboard-form h3 {
    font-weight: bold;
}

.speaker-dashboard-form h4 {
    font-weight: bold;
    font-size: large;
}

.speaker-dashboard-form p {
    font-size: large;
    margin: 1em 0;
}

.speaker-dashboard-form ol {
    font-size: larger;
    margin: 1em 0;
}

.speaker-dashboard-form ul {
    font-size: larger;
    margin: 1em 0;
}

.speaker-dashboard-form .privacy p {
    font-size: small;
}

.speaker-dashboard-form:before h1 {
    font-size: small;
}

.entry {
    font-size: xx-large;
}

.speaker-dashboard-form .centered-image {
    margin: 0 auto;
}

// .speaker-dashboard-form .field {
//     margin-bottom: 10px;
// }
.white_background {
    background: rgba(255, 255, 255, 0.95);
}