.main-pane .talk .category_difficulty {
    .one-liner {
        margin: 0 0 0.2rem 0rem;
        font-size: small;
    }
    .category_difficulty.block {
        margin: 0 0 1rem 0rem;
        font-size: medium;
    }
}

.talks-frame {
    background-color: #FFF;
    overflow: hidden;
    padding: 10px;
    font-size: 0.8em;
    padding: 0.5rem;
}

li.speaker {
    list-style: none;
}

table.talks-frame td {
    padding: 0.3rem;
}

.vertical-middle {
    vertical-align: middle;
    margin: 0;
}

.category_difficulty {
    th {
        padding-right: 10px;
    }
    th,
    td {
        padding-bottom: 20px;
    }
    tr:last-child {
        padding-bottom: 0px;
    }
}