<h4>個人情報保護方針(プライバシー ポリシー)</h4>
<p>
ご登録頂きました個人情報はイベントの運営会社である株式会社インプレスが管理し、電話/電子メール/郵送等による、各種サービスやセミナー開催情報などの情報提供に利用させて頂きます。インプレス社の詳しいプライバシーポリシーに関しましては<a href="https://www.impress.co.jp/privacy.html" target="_blank">こちらをご覧下さい。</a></p>

<p>
また、スポンサーセッションに関しては当該セッションのご登録者の個人情報を本セミナー協賛企業（各種スポンサー）へ提供いたします。以下に記載の協賛企業からご登録者の皆様に、直接電子メールや郵送でご案内をさせていただく場合がございます。
</p>
<p>
≪協賛企業≫
リスト提供企業社名一覧
<ul>
<li>AAA</li>
<li>BBB</li>
</ul>
</p>
<p>
業務委託先または提携先へ業務預託する場合がございますが、個人情報をお客様の承諾なしに目的外利用すること、及び第三者に提供することはございません。なお、開催日までに協賛企業（各種スポンサー）、講演提供企業が追加となりました場合は、セミナーWebサイトに公開しますとともに、追加となりました協賛企業ともご登録情報を共有させていただきます。あらかじめご了承の上、お申し込みをお願いいたします。
</p>