<div class="timetable-footer">
  <div class="container">
    <div class="row justify-content-md-center mt-1">
      <div class="col-12 col-md-8" style="line-height: 90%;">
        <span class="information"><%= information %></span>
      </div>
    </div>
    <div class="row form-group justify-content-md-center mt-2 mb-3">
      <div class="col-12 col-md-4">
        <%= form.submit "セッション登録", class: "btn btn-danger form-control btn-lg" %>
      </div>
    </div>
  </div>
</div>
