<div class="modal fade" id="talk-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div class="container">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-info" role="alert">
      <%= message %>
    </div>
  <% end %>
  <h1>Timetable</h1>
</div>

<% if @current_user %>
  <%= render 'form', conference: @conference %>
<% else %>
  <%= render 'timetable', conference: @conference %>
<% end %>
