<div class="modal fade" id="talk-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div class="container">
  <h1 class="my-3 text-center">タイムテーブル</h1>
</div>

<% if @current_user %>
<section class="timetable">
  <div class="grid" style="--rows: 2">
    <div class="balloon">
        <div class="icon">
            <%= image_tag  "trademark.png" %>
        </div>
        <div class="chatting">
            <div class="says">
              
              <% if flash.empty? %>
                <p>参加したいセッションを登録しましょう。<br/>セッション名をクリックすると詳細が表示されます。</p>
              <% else %>
                <% flash.each do |message_type, message| %>
                  <%= message %>
                <% end %>
              <% end %>
            </div>
        </div>
    </div>
  </div>
</section>
<% end %>

<% if @current_user %>
  <%= render 'form', conference: @conference %>
<% else %>
  <%= render 'timetable', conference: @conference %>
<% end %>
