<% provide(:title, 'タイムテーブル') %>

<div class="modal fade" id="talk-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>

<% if @current_user %>
  <%= form_with url: 'profiles/talks', method: :post do |form| %>
    <%= render partial: timetable_partial_name, locals: {conference: @conference, form: form} %>
  <% end %>
<% else %>
  <%= render partial: timetable_partial_name, locals: {conference: @conference, form: nil} %>
<% end %>
