<div class="modal fade" id="talk-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div class="container">
  <h1 class="my-3 text-center">タイムテーブル (<%= link_to 'リスト表示', talks_path %>)</h1>
</div>

<% if @current_user %>
  <%= render 'form', conference: @conference %>
<% else %>
  <%= render 'timetable', conference: @conference %>
<% end %>


<% 
if @current_user
  if flash.empty?
    @message_box = "聞きたいセッションを登録しましょう。セッション名をクリックすると詳細が表示されます。"
  else
    flash.each do |message_type, message|
      @message_box = message
    end
  end
end
%>
