#cnsec2022 {
    //height: 100vh;
    background-color: #FFF;
    position: relative;
    #about {
        background-color: $white
    }
    #entry {
        background-color: $white
    }
    .contents {
        position: relative;
        z-index: 2;
    }
    .btn-entry {
        background-color: $primary;
        color: white;
        font-size: medium;
        font-weight: lighter;
        padding: 1em 2em;
        @media (min-width: 576px) {
            font-size: medium;
        }
        @media (min-width: 768px) {
            font-size: large;
        }
        @media (min-width: 992px) {
            font-size: x-large;
        }
        &:hover {
            background-color: $primary;
        }
    }
    #speakers {
        background-color: $white;
        @media (max-width: 576px) {
            display: none;
        }
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px;
        }
        li {
            list-style: none;
        }
    }
}

#cnsec2022 #masthead {
    background-color: #FFF;
    background: url(../images/cnsec2022/masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    font-weight: 700;
    &:hover {
        background-clip: unset;
        -webkit-background-clip: unset;
        color: white;
    }
    .subtitle {
        font-size: 1rem;
        @media (min-width: 576px) {
            font-size: 1rem;
        }
        @media (min-width: 768px) {
            font-size: 1.5rem;
        }
        @media (min-width: 992px) {
            font-size: 2rem;
        }
    }
    .container {
        line-height: 90%;
        font-size: 4rem;
        margin-top: 20px;
        @media (min-width: 576px) {
            margin-top: 50px;
            font-size: 5rem;
        }
        @media (min-width: 768px) {
            margin-top: 50px;
            font-size: 8rem;
        }
        @media (min-width: 992px) {
            margin-top: 50px;
            font-size: 15rem;
        }
    }
}

#cnsec2022 #about {
    img {
        width: 100%;
        filter: drop-shadow(5px 5px 5px #999);
    }
}

.information {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    a {
        color: $primary;
        border-bottom: 2px solid;
    }
}

.handson-session {
    margin: 50px 0 50px 0;
    padding: 50px 0 0 0;
    border-top: 1px solid #222222;
}

.alert-url {
    color: #ff0000;
}

.white_background {
    background: rgba(255, 255, 255, 0.95);
}

.page-section {
    padding: 2rem 0;
}