<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8 registration-form py-4">
      <h2 class="mb-4"><%= @conference.abbr.upcase %> への参加方法を選択する</h2>
      <div class="block"></div>

      <%= render 'form', tickets: @tickets %>
    </div>
  </div>
</div>
