<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8 registration-form">
      <h2>参加方式</h2>
      <div class="block"></div>

      <%= render 'form', tickets: @tickets %>
    </div>
  </div>
</div>
