<div id="<%= @conference.abbr %>" >
  <div class="contents">
    <section class="page-section" id="entry">
      <div class="container">
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-12 align-self-center">
            <% if @conference.closed? || @conference.archived?%>
              <%= render 'event/partial/buttons', conference: @conference %>
            <% else %>
              <%= render 'event/partial/speaker_entry_button', conference: @conference %>
              <%= render 'event/partial/attendee_entry_button', conference: @conference %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="modal fade" id="talk-modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
