<div class="container">
<div class="row justify-content-center my-5">
    <div class="col-12 col-md-6">
        <h4>Code of Conduct (行動規範)</h4>
        <p>イベント主催者は、参加者が人権侵害や差別を受けることのないよう努力しています。本イベントは技術情報の共有や技術者同士のコラボレーションを目指したものです。講演者、来場者、スポンサー、展示関係者、スタッフなどすべての参加者は、いかなる形でもハラスメントに関わってはなりません。</p>
        <p>ハラスメント行為を目撃したり懸念を感じた場合はCloudNative Days 実行委員会 <a href="https://twitter.com/cloudnativedays" target="_blank">@cloudnativedays</a> まで速やかにお知らせください。（この行動規範はLinux Foundationのドキュメントを参考にしています）</p>

        <h5>容認できない行為</h5>
        <ul>
            <li>性的な言語や画像の使用</li>
            <li>個人的な攻撃</li>
            <li>侮辱/軽蔑的なコメント</li>
            <li>公的または私的なハラスメント</li>
            <li>許可なく他人の個人情報を公開すること</li>
            <li>その他の非倫理的な行為</li>
        </ul>
    </div>
</div>
</div>