<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8 registration-form py-4" style="text-align:center">
      <h2 class="mb-4" style="text-align:center">準備中...</h2>
      <h3 >一般参加申込みはまだ開始しておりません。</h3>
      <br>
      <h4>応募されているセッション一覧をご覧になりたい場合は</h4>
      <h4>一度<a href="https://staging.dev.cloudnativedays.jp/logout">ログアウト</a>してからご利用ください</h4>
    </div>
  </div>
</div>
