<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-12 col-lg-8 registration-form py-4" style="text-align:center">
      <h2 class="mb-4" style="text-align:center">準備中...</h2>
      <h3 >現在一般参加機能を鋭意準備中です</h3>
      <br>
      <h4>本サイトを利用する場合</h4>
      <h4>ログアウトしてからご利用ください</h4>
    </div>
  </div>
</div>
