<div class="container white_background">
  <div class="row my-5">
    <div class="col-12">
      <div class="privacy_policy">
        <%= markdown @conference.privacy_policy %>
      </div>
    </div>
  </div>
</div>