<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-8 py-3">

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Links</h4>
          <% @links.each do |link| %>
            <div class="card-text">
              <p class="link"><%= link_to link.title, link.url %></p>
              <p class="link-description"><%= link.description %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-sm-8 py-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Slides</h4>
          <% @conference.talks.each do |talk| %>
            <% if talk.document_url.present? %>
              <div class="card-text">
                <p class="link"><%= link_to talk.title, talk.document_url, target: "_blank" %></p>
                <p class="link-description"><%= "#{talk.conference_day.date} Track#{talk.track.name} #{talk.start_time.strftime("%H:%M") }-#{talk.end_time.strftime("%H:%M")} #{talk.speakers.map(&:name).join(', ')}"%></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
