<%= render 'admin/layout' do %>
  <div class="row">
    <h2>Sponsors</h2>
  </div>
  <div class="row">
    <% @sponsor_types.each do |sponsor_type| %>
      <h3><%= sponsor_type.name %></h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <% sponsor_type.sponsors.each do |sponsor| %>
          <tr>
            <td><%= link_to sponsor.name, admin_sponsor_path(id: sponsor.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    <% end %>
  </div>
<% end %>
