<%= render 'admin/layout' do %>
  <div class="row">
    <h2>スポンサーを追加</h2>
  </div>
  <div class="row">
    <div class="registration-form py-3 px-md-5 w-100">
      <%= render 'form', sponsor_form: @sponsor_form %>
    </div>
  </div>
<% end %>
