<div class="container">
  <%= render 'admin/navigator' %>
</div>

<div class="container booth-frame my-4">
  <%= link_to 'Edit', "/admin/sponsors/#{@sponsor.id}/edit" %>

  <%= render 'booths/booth', sponsor: @sponsor %>
</div>
