<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <% conference.tracks.each do |track| %>
      <%= link_to track.name, admin_tracks_path(date: @date, track_name: track.name),
                  {
                    class: "nav-item nav-link #{active_track_tab?(track) ? 'active' : '' }",
                    id: "nav-#{conference_day.date}-#{track.number}-tab",
                    role: "tab",
                    'aria-controls': "nav-#{conference_day.date}-#{track.number}",
                    'aria-selected': "true"
                  }
      %>
    <% end %>
  </div>
</nav>

<%= render partial: 'admin/tracks/partial/talks_table', locals: {conference_day: conference_day, talks: @talks, track: @track}%>

※ Track video ID は On Air 状態のセッションがUIで表示された時に使われる (ライブ)<br>
※ 各セッションの Video URL は Off Air 状態のセッションがUIで表示された時に使われる (アーカイブ)

<div class="row">
  <div class="col-12 mt-4">
    <h2>Download talks in this track</h2>
    <div class="col-12 form-group">
      <%= link_to 'Download CSV', admin_tracks_path(format: "csv", date: @date, track_name: @track.name), class: "btn btn-primary" %>
    </div>
  </div>
</div>

