<div class="container">
  <h1>Edit Announcement</h1>

  <div class="row speaker-dashboard-form justify-content-center">
    <div class="col-12 col-lg-8">
      <%= render 'admin/announcements/form' %>

    </div>
  </div>
</div>
