<div class="container">
    <div class="row">
        <div class="col-12">
          <h1 class="my-3 text-center">404 Not Found</h1>
          <h4 class="my-3 text-center">お探しのコンテンツは存在しません</h4>
          <h4 class="my-3 text-center"><%= link_to "TOPに戻る", root_path %></h4>
        </div>
    </div>
</div>
