.beta-container {
  .beta-icon {
      background: $fresh-green;
      color: #FFF;
      box-sizing: border-box;
      border-radius: 100vh;
      text-align: center;
      width: 5rem;
      margin-bottom: 0.5rem;
      margin-top: 1.5rem;
  }
}
