.checkin {
    .checked {
        background-image: url('../images/common/checked.png');
        width: 10em;
        height: 10em;
        background-size: 100% 100%;
        margin: 3em auto;
    }
}