// Global styling for this theme
body,
html {
    width: 100%;
    height: 100%;
}

//- Custom horizontal rules
hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: $primary;
}

hr.light {
    border-color: $white;
}

//- Button restyling
.btn {
    font-family: $font-family-sans-serif;
}

//- Custom XL button styling
.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

//- Page section styling
.page-section {
    padding: 8rem 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    font-size: small;
    list-style: none;
    margin: 0;
    padding: 0;
}

// main layout
.main-pane .talk {
    background-color: #FFF;
    border-radius: 5px;
    border: solid 1px #CCC;
    overflow: hidden;
    padding: 10px;
}

.main-pane h3 {
    margin: 0 0 0.7rem 0;
    font-size: x-large;
    color: #333;
    font-weight: bold;
}

.main-pane h4 {
    margin: 0 0 0.7rem 0;
    font-size: large;
    color: #333;
    font-weight: bold;
}

.main-pane h5 {
    margin: 0 0 0.7rem 0;
    font-size: 0.9rem;
    color: #333;
    font-weight: bold;
}

.main-pane .talk .category_difficulty.one-liner {
    margin: 0 0 0.2rem 0rem;
    font-size: small;
}

.main-pane .talk .category_difficulty.block {
    margin: 0 0 1rem 0rem;
    font-size: medium;
}

.main-pane .talk .difficulty {
    font-size: x-small;
    padding: 0.2rem;
    margin: 0;
    color: #FFF;
    background: $dark-blue;
    border-radius: 10px;
}

.main-pane .information {
    background-color: #FFF;
    border-radius: 5px;
    border: solid 1px #CCC;
    padding: 10px;
}

.main-pane .information ul {
    margin: 0;
    padding: 0;
}

.main-pane .information ul li {
    list-style: none;
}

.main-pane .information ul li .date {
    font-size: small;
}

.main-pane .information ul li .body {
    font-size: 0.9rem;
}

.sub-pane {}

.sub-pane .social {
    background-color: #FFF;
    border-radius: 5px;
    border: solid 1px #CCC;
    overflow: hidden;
}

.fb-share-button {
    line-height: 1.3rem;
}

#sponsors {
    background-color: #FFF;
    .sponsor-col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sponsor-logo {
        width: 100%;
        max-height: 80px;
        object-fit: contain;
    }
    @media (max-width: 768px) {
        .sponsor-logo {
            width: 100%;
            max-height: 70px;
            max-width: 200px;
            object-fit: contain;
        }
    }
}

.other-talks {
    .talk {
        padding: 10px;
        h3 {
            font-size: medium;
            font-weight: bold;
        }
        h4 {
            font-size: small;
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

.footer-logo img {
    max-height: 80px;
    max-width: 200px;
}

.home {
    margin-top: 50px;
    .row {
        background-color: rgba(256, 256, 256, 0.8);
    }
    .logo {
        max-width: 300px;
        max-height: 80px;
    }
    a:hover {
        text-decoration: underline;
    }
}