#message_icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #FFF;
    border-radius: 100%;
    border: 3px solid #FFF;
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    padding: 3px;
    z-index: 999;
    cursor: pointer;
}

#message_icon img {
    width: 100%;
}

// 吹き出し
#message_box {
    position: fixed;
    bottom: 20px;
    right: 85px;
    padding: 10px;
    width: 260px;
    border: solid 2px $dark-blue;
    border-radius: 12px;
    background: rgba(255,255,255,0.8);
    word-wrap: break-word;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    z-index: 999;
    font-size: small;
}

#message_box:before{
    content: "";
    position: absolute;
    top: 80%;
    left: 255px;
    margin-top: -12px;
    border: 7px solid transparent;
    border-left: 12px solid #FFF;
    z-index: 2;
}

#message_box:after {
    content: "";
    position: absolute;
    top: 80%;
    left: 258px;
    margin-top: -12px;
    border: 7px solid transparent;
    border-left: 12px solid $dark-blue;
    z-index: 1;
}

#message_box p {
margin: 0;
padding: 0;
}
