#speaker-landing {
    line-height: 200%;
    a {
        color: $primary;
        text-decoration: underline;
    }
}

@media (max-width: 992px) {
    #speaker-landing {
        line-height: 130%;
    }
}

.speaker-dashboard-form {
    background: rgba(255, 255, 255, 0.95);
    #speaker_notice .card-body {
        overflow-y: scroll;
        height: 20rem;
    }
    .card-title a,
    .card-text a {
        text-decoration: underline;
    }
    h2 {
        font-weight: bold;
    }
    h3 {
        font-weight: bold;
    }
    h4 {
        font-weight: bold;
        font-size: large;
    }
    h5 {
        font-weight: bold;
        font-size: medium;
    }
    p {
        font-size: medium;
        margin: 1em 0;
    }
    ol {
        font-size: larger;
        margin: 1em 0;
    }
    ul {
        font-size: larger;
        margin: 1em 0;
    }
    .privacy p {
        font-size: small;
    }
    &:before h1 {
        font-size: small;
    }
    .centered-image {
        margin: 0 auto;
    }
    .card-text {
        margin-bottom: 1.5rem;
    }
    .video-format p {
        font-size: small;
        margin: 0.5rem;
    }
    .session-title {
        border-bottom: 1px dotted #CCC;
        margin-bottom: 1.5rem;
        img {
            vertical-align: top;
        }
    }
    .qa ul {
        margin: 0;
        padding: 0;
        li {
            font-size: medium;
            list-style-type: none;
            margin: 0.5rem;
            padding-left: 4rem;
            text-indent: -4rem;
        }
        ul {
            padding: 0 1rem;
            li:before {
                content: "↳";
            }
        }
        span.time {
            color: #999;
        }
    }
}

.entry {
    font-size: xx-large;
}

.speaker-information {
    #speaker_profile {
        height: 8rem;
    }
    .abstract {
        height: 10rem;
    }
}