.talks-frame {
    background-color: #FFF;
    overflow: hidden;
    padding: 10px;
    font-size: 0.8em;
    padding: 0.5rem;
}

li.speaker {
    list-style: none;
}

table.talks-frame td {
    padding: 0.3rem;
}

.vertical-middle {
    vertical-align: middle;
    margin: 0;
}


section.proposals {
    a.proposal {
        display: block;
        width: 100%;
        margin: 1em;
        &:hover{
            background-color: #EEE;
            opacity: 0.8;
        }
        .category {
            color: #FFF;
            font-weight: bold;
            font-size: small;
        }
        img {
            display: none;
        }
    }
}


@media (min-width: 768px) {
    section.proposals {
        margin: 3em 0em 3em 0em;
        justify-content: space-between;
        display: flex;
        gap: 2em;
        a.proposal {
            width: 15em;
            justify-content: center;
            padding: 1em;
            position: relative;
            margin: 0em;
            display: flexbox;
            .category {
                z-index: 2;
                position: absolute;
                top: -0.5em;
                left: 4em;
                padding: 0em 1em;
                color: #FFF;
                font-weight: bold;
                font-size: small;
            }
            h3 {
                margin-top: 1em;
                font-size: large;
            }
            h4 {
                font-size: medium;
            }
            h5{
                font-size: small;
            }
            img {
                z-index: 3;
                display: block;
                border-radius: 50%;
                position: absolute;
                top: -1.5em;
                left: 0.5em;
                width: 3em;
                height: 3em;
            }
        }
    }
}