.tracks {
    background-color: rgba($color: #FFF, $alpha: 1);
    margin-top: auto;
}

.track-button {
    margin: 30px 0px 0px 0px;
}

#main-pane {}

.movie-wrap {}

.tool-pane .nav-item {
    background-color: white;
}

.booth-frame {
    background-color: #FFF;
    border-radius: 5px;
    border: solid 1px #CCC;
    overflow: hidden;
    padding: 10px;
}

.booths-header {
    background-color: #FFF;
    //border-radius: 5px;
    //border: solid 1px #CCC;
    overflow: hidden;
    padding: 10px;
}

#main-pane .talk {
    // background-color: #FFF;
    // border-radius: 5px;
    // border: solid 1px #CCC;
    // overflow: hidden;
    //padding: 10px;
}

#main-pane h3 {
    margin: 0 0 0.7rem 0;
    font-size: x-large;
    color: #333;
    font-weight: bold;
}

#main-pane h4 {
    margin: 0 0 0.7rem 0;
    font-size: large;
    color: #333;
    font-weight: bold;
}

#main-pane h5 {
    margin: 0 0 0.7rem 0;
    font-size: 0.9rem;
    color: #333;
    font-weight: bold;
}

#main-pane .talk .category_difficulty.one-liner {
    margin: 0 0 0.2rem 0rem;
    font-size: small;
}

#main-pane .talk .category_difficulty.block {
    margin: 0 0 1rem 0rem;
    font-size: medium;
}

#main-pane .talk .difficulty {
    font-size: x-small;
    padding: 0.2rem;
    margin: 0;
    color: #FFF;
    background: $dark-blue;
    border-radius: 10px;
}

#registered-talk {
    background-color: #FFF;
}

#registered-talk button {
    background-color: #FFF;
}

#registered-talk button[aria-expanded="true"]:before {
    content: "▼";
}

#registered-talk button[aria-expanded="false"]:before {
    content: "▶";
}

#registered-talk-list {
    padding-left: 10px;
}

#track_information {}

#social {}

#social a {
    display: flex;
    height: 4em;
    vertical-align: bottom;
    align-items: center;
    justify-content: center;
}