#track_information{
    background-color: rgba($color: #FFF, $alpha: 1.0);
}
.movie-wrap{
    background-color: rgba($color: #FFF, $alpha: 1.0);
}

.tool-pane .nav-item{
    background-color: white;
}