.tracks{
    background-color: rgba($color: #FFF, $alpha: 0.8);
}

#track_information{
}
.movie-wrap{
}

.tool-pane .nav-item{
    background-color: white;
}

.booth-frame {
    background-color: #FFF;
    border-radius: 5px;
    border: solid 1px #CCC;
    overflow: hidden;
    padding: 10px;
}

.booths-header {
    background-color: #FFF;
    //border-radius: 5px;
    //border: solid 1px #CCC;
    overflow: hidden;
    padding: 10px;
}
