header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../images/bg-masthead.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header.masthead h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}

body {
  background: linear-gradient(to bottom, rgba(256, 256, 256, 0.5) 0%, rgba(230, 230, 230, 0.5) 100%), url(../images/wave.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.timetable {
  display: block;
  width: 98%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-rows: repeat(var(--rows), 30px);
  grid-template-columns: repeat(6, minmax(160px, 240px));
  grid-auto-columns: 100px;

  overflow-x: auto;  /* 横スクロールの指定 */
  overflow-scrolling: touch;  /* スクロールを滑らかにする */
  -webkit-overflow-scrolling: touch;  /* スクロールを滑らかにする */
  grid-gap: .125em .25em;
  justify-content: center;
}

.grid h2,
.grid .balloon {
  grid-column: span 6;
  grid-row: span 6;
  display: flex;
}

// .slot {
//   display: block;
//   align-items: start;
//   -ms-grid-column: 1;
//   -ms-grid-column-span: 1;
//   grid-column: 1 / 2;
//   grid-row: calc(1 + var(--row-start))/calc(1 + var(--row-end) + 2);
//   --start: calc(1 + var(--track));
//   --end: calc(2 + var(--track));
//   grid-column: var(--start)/var(--end);
//   border: 1px solid #000;
//   z-index: 200;
// }

.track {
  grid-column: calc(var(--track) + 1);
  grid-row: 1 / -1;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: rgba(256, 256, 256, 0.9);
}

.keynote {
  grid-column: 2 / -1;
  --start: calc(1 + var(--row-start));
  --end: calc(1 + var(--row-end));
  grid-row: var(--start)/var(--end);
  z-index: 1;
  background-color: rgba(256, 256, 256, 0.8);
  border-radius: 5px;
}


.talk {
  --start: calc(1 + var(--track));
  --end: calc(2 + var(--track));
  grid-column: var(--start)/var(--end);
  grid-row: calc(1 + var(--row-start))/calc(1 + var(--row-end));
  justify-content: center;
  z-index: 1;
}

.talk:hover{
  z-index: 9998;
}

.content {
  background-color: #FFF;
  margin: 2px;
  height: 100%;
  border-radius: 5px;
  border: solid 1px #CCC;
  overflow: hidden;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1);
}

.content:hover {
  background-color: #EEF;
  height: auto;
  overflow: visible;
  min-height: 100%;
}

.content a {
  color: #333;
}

.content h5 {
  display: flex;
  margin: 0;
  align-items: center;
  font-size: 0.9rem;
  padding: 0.2rem;
  word-wrap: break-word;
  word-break: break-all;
  color: #333;
}

.content h6 {
  display: flex;
  margin: 0;
  align-items: center;
  font-size: 0.7rem;
  padding: 0.2rem 0.2rem 0 0.2rem;
  word-wrap: break-word;
  word-break: break-all;
  color: #666;
}

.content .radio {
  float: right;
  margin: 0.5rem;

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
        background: white;
        border-radius: 100%;
        border: 1px solid darken(white, 25%);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.2em;
        margin-right: 1em; 
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $dark-blue;
          box-shadow: inset 0 0 0 4px white;
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

.content .category_difficulty{
  margin: 0.2rem 0.1rem;
  line-height: 0.7rem;
}

.content .difficulty {
  font-size: 0.4rem;
  padding: 0.2rem;
  margin: 0;
  word-wrap: break-word;
  word-break: break-all;
  color: #FFF;
  background: $dark-blue;
  border-radius: 10px;
}

.content p {
  display: block;
}

.content hr {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.content ul {
  font-size: 0.8rem;
  display: block;
  display: flex;
  align-items: start;
  justify-content: left;
}
.even {
  background-color: rgba(248, 248, 255, 0.8);
}

.avatar img {
  border-radius: 50%;
}

.card .avatar img {
  border-radius: 50%;
  margin: 10px;
}


// Custom utilities for this theme

.text-white-75 {
    color: fade-out($white, 0.25);
}

// 埋め込み動画用
.movie-wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.track-button {
 margin: 30px 0px 10px 0px;
}

// Header
.header_logo {
    width: 200px;
    height: auto;
}


.thumbnail {
    width: 25px;
    height: 25px;
}

.registration-form {
  background: rgba(256, 256, 256, 0.8);
}

#notice {
    color: green; }
  
  .field_with_errors {
    display: contents;
    input {
        @extend .is-invalid;
    }
  }

.privacy_policy {
    font-size: small;
}

// 吹き出し
.balloon {
  width: 100%;
  margin: 30px 0;
  overflow: hidden;
}

.balloon .icon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.balloon .icon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.balloon .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 60px;
  padding: 10px;
  max-width: 500px;
  border: solid 2px $dark-blue;
  box-sizing: border-box;
  border-radius: 12px;
  background: #FFF;
}

.says:before{
  content: "";
  position: absolute;
  top: 40%;
  left: -18px;
  margin-top: -12px;
  border: 7px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.says:after {
  content: "";
  position: absolute;
  top: 40%;
  left: -21px;
  margin-top: -12px;
  border: 7px solid transparent;
  border-right: 12px solid $dark-blue;
  z-index: 1;
}
.says p {
  margin: 0;
  padding: 0;
}

.modal-body .category_difficulty{
  margin: 0 0 10px 0;
}

.modal-body .difficulty {
  padding: 0.2rem;
  margin: 0;
  word-wrap: break-word;
  word-break: break-all;
  color: #FFF;
  background: $dark-blue;
  border-radius: 1rem;
}

.difficulty_1 {
  filter: hue-rotate(0deg);
}

.difficulty_2 {
  filter: hue-rotate(120deg);
}

.difficulty_3 {
  filter: hue-rotate(240deg);
}

.category_1 {
  filter: hue-rotate(0deg);
}

.category_2 {
  filter: hue-rotate(20deg);
}

.category_3 {
  filter: hue-rotate(40deg);

}

.category_4 {
  filter: hue-rotate(60deg);

}

.category_5 {
  filter: hue-rotate(80deg);

}

.category_6 {
  filter: hue-rotate(100deg);

}

.category_7 {
  filter: hue-rotate(120deg);

}

.category_8 {
  filter: hue-rotate(140deg);

}

.category_9 {
  filter: hue-rotate(160deg);

}

.category_10 {
  filter: hue-rotate(180deg);

}

.category_11 {
  filter: hue-rotate(200deg);

}

.category_12 {
  filter: hue-rotate(220deg);

}

.category_13 {
  filter: hue-rotate(240deg);

}

.category_14 {
  filter: hue-rotate(260deg);

}

.category_15 {
  filter: hue-rotate(280deg);

}

.category_16 {
  filter: hue-rotate(300deg);

}

.category_17 {
  filter: hue-rotate(320deg);
}