// Import custom variables and override default Bootstrap variables
@import "./_variables.scss";
// Import Bootstrap
$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";
@import 'bootstrap-icons/font/bootstrap-icons';
@import '~bootstrap/scss/bootstrap';
// Import custom styles
@import "./_global.scss";
@import "./_navbar.scss";
@import "./_timetable.scss";
@import "./_tracks.scss";
@import "./_admin.scss";
@import "./_links.scss";
@import "./_talks.scss";
@import "./_team.scss";
@import "./_copy.scss";
@import "./_stamp_rally_check_in.scss";
// Import custom utilities
@import "./_utilities.scss";
