// Import custom variables and override default Bootstrap variables
@import "./cicd2023/_variables.scss";
// Import Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-table/src/bootstrap-table';
// Import custom styles
@import "./_global.scss";
@import "./_navbar.scss";
@import "./cicd2023/_timetable.scss";
@import "./_tracks.scss";
@import "./_admin.scss";
@import "./_booth.scss";
@import "./_links.scss";
@import "./_talks.scss";
@import "./_team.scss";
@import "./_speaker_dashboard.scss";
@import "./_event.scss";
@import "./_checkin.scss";
@import "./cicd2023/_cicd2023.scss";
// Import custom utilities
@import "./cicd2023/_utilities.scss";