// Import custom variables and override default Bootstrap variables
@import "./cicd2021/_variables.scss";
// Import Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-table/src/bootstrap-table';
// Import custom styles
@import "./_global.scss";
@import "./_navbar.scss";
@import "./cicd2021/_timetable.scss";
@import "./message_box.scss";
@import "./_tracks.scss";
@import "./_admin.scss";
@import "./_booth.scss";
@import "./_links.scss";
@import "./cicd2021/_talks.scss";
@import "./cicd2021/_cicd2021.scss";
// Import custom utilities
@import "./cicd2021/_utilities.scss";