<%= form_with(model: [:admin, stamp_rally_configure],
              url: stamp_rally_configure.new_record? ? admin_stamp_rally_configures_path(event: params[:event]) : admin_stamp_rally_configure_path(stamp_rally_configure, event: params[:event]),
              ) do |form| %>
  <div class="tw-mb-4">
    <%= form.label :finish_threshold, class: "tw-mb-2 tw-block tw-text-sm tw-font-medium tw-text-gray-700" %> (チェックイン数が指定した数値以上になった場合、フィニッシュ可能。-1もしくは未設定の場合は全てチェックインするとフィニッシュ可能。)
    <%= form.text_field :finish_threshold, class: "tw-block tw-w-full tw-rounded tw-border tw-border-gray-300 tw-px-3 tw-py-2 focus:tw-border-blue-500 focus:tw-ring-1 focus:tw-ring-blue-500" %>
  </div>

  <div class="tw-mb-4">
    <div class="tw-flex tw-justify-end">
      <%= form.submit class: "tw-inline-block tw-rounded tw-bg-blue-600 tw-px-2 tw-py-1 tw-text-sm tw-font-bold tw-text-white hover:tw-bg-blue-700 tw-mr-2" %>
    </div>
  </div>
<% end %>
