<div class="row speaker-dashboard-form justify-content-center">
  <div class="col-12 col-lg-8">
    <h1 class="text-center py-3 entry">エントリーフォーム(スポンサー用)</h1>
    <div class="col-12 mb-4">
      ※ ログインに使っているメールアドレスが同じ場合、スポンサーセッションと公募セッションのスピーカープロフィールは同一となります<br>
      ※ スポンサーセッション、公募セッション両方が表示されます
    </div>
    <%= render 'speaker_dashboard/speakers/form', speaker: @speaker %>
  </div>
</div>
