<div class="container">
  <div class="btn-group track-button d-flex row" role="group">
    <% @tracks.each do |track| %>
      <%= link_to "Track#{track.number}", track_path(id: track.id), { class: "btn btn-outline-secondary #{'active' if params[:id] == "#{track.number}"}" } %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 movie-wrap">
      <iframe src="<%= @movie_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-12 col-md-4 ">
      <a href="https://twitter.com/intent/tweet?button_hashtag=CNDT2020&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #CNDT2020</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <br />
      ここにタイムラインとかチャット
    </div>
  </div>
</div>