#cicd2023 {
    //height: 100vh;
    background: linear-gradient(-45deg, rgba(33, 33, 33, 0.6), rgba(100, 100, 100, 0.6));
    position: relative;
    #about {
        background-color: $white
    }
    #access {
        background-color: $primary;
        color: white;
    }
    #entry {
        background-color: $white
    }
    .contents {
        position: relative;
        z-index: 2;
    }
    .btn-entry {
        background-color: $primary;
        color: white;
        font-size: medium;
        font-weight: lighter;
        padding: 1em 2em;
        @media (min-width: 576px) {
            font-size: medium;
        }
        @media (min-width: 768px) {
            font-size: large;
        }
        @media (min-width: 992px) {
            font-size: x-large;
        }
        &:hover {
            background-color: $secondary;
        }
    }
    #speakers {
        background-color: $white;
        @media (max-width: 576px) {
            display: none;
        }
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px;
        }
        li {
            list-style: none;
            img {}
        }
    }
    section.timetable {
        width: 100%;
    }
}

#cicd2023 #masthead {
    background: linear-gradient(to bottom, rgba(87, 58, 64, 0.7), rgba(87, 58, 64, 0.9)), url(../images/cndt2021/masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    h1 {
        font-size: 1.0em;
    }
    h2 {
        font-size: 1.5em;
    }
    .date {
        font-size: 2em;
        font-weight: lighter;
    }
    .remaining {
        font-size: 1rem;
        font-weight: lighter;
    }
    .remaining-date {
        font-size: 3rem;
        font-weight: lighter;
    }
    @media (min-width: 576px) {
        h1 {
            font-size: 1.0em;
        }
        h2 {
            font-size: 1.5em;
        }
        .date {
            font-size: 2em;
            font-weight: lighter;
        }
        .remaining {
            font-size: 1rem;
            font-weight: lighter;
        }
        .remaining-date {
            font-size: 2rem;
            font-weight: lighter;
        }
    }
    @media (min-width: 768px) {
        h1 {
            font-size: 1.3em;
            text-align: left;
        }
        h2 {
            font-size: 2em;
            text-align: left;
        }
        .date {
            font-size: 4em;
            font-weight: lighter;
        }
        .remaining {
            font-size: 1.5rem;
            font-weight: lighter;
        }
        .remaining-date {
            font-size: 4rem;
            font-weight: lighter;
        }
    }
    @media (min-width: 992px) {
        h1 {
            font-size: 2em;
            text-align: left;
        }
        h2 {
            font-size: 3.5em;
            text-align: left;
        }
        .date {
            font-size: 4em;
            font-weight: lighter;
        }
        .remaining {
            font-size: 2rem;
            font-weight: lighter;
        }
        .remaining-date {
            font-size: 4rem;
            font-weight: lighter;
        }
    }
}

// Speaker Dashboard
.speaker-dashboard-form {
    background: rgba(255, 255, 255, 0.95);
}

#speaker-landing {
    line-height: 200%;
    a {
        color: $primary;
        text-decoration: underline;
    }
}

@media (max-width: 992px) {
    #speaker-landing {
        line-height: 130%;
    }
}

.speaker-dashboard-form h2 {
    font-weight: bold;
}

.speaker-dashboard-form h3 {
    font-weight: bold;
}

.speaker-dashboard-form h4 {
    font-weight: bold;
    font-size: large;
}

.speaker-dashboard-form p {
    font-size: large;
    margin: 1em 0;
}

.speaker-dashboard-form ol {
    font-size: larger;
    margin: 1em 0;
}

.speaker-dashboard-form ul {
    font-size: larger;
    margin: 1em 0;
}

.speaker-dashboard-form .privacy p {
    font-size: small;
}

.speaker-dashboard-form:before h1 {
    font-size: small;
}

.entry {
    font-size: xx-large;
}

.speaker-dashboard-form .centered-image {
    margin: 0 auto;
}

.information {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    a {
        color: $primary;
        border-bottom: 2px solid;
    }
}

.information.mt-4 {
    height: 200px
}

.handson-session {
    margin: 50px 0 50px 0;
    padding: 50px 0 0 0;
    border-top: 1px solid #222222;
}

.alert-url {
    color: #ff0000;
}

// .speaker-dashboard-form .field {
//     margin-bottom: 10px;
// }
.white_background {
    background: rgba(255, 255, 255, 0.95);
}