// Variables
//- Override and add to color system
$orange: #f4623a;
$purple: #BD4392;
$dark-blue: #206A9B;
$brown: #5c4d42;
// CICD2023 Theme color(Temporary)
$water-surface: #423A57;
$sparkle-pink: #CD659F;
$sparkle-violet: #9A7FB8;
$concrete-gray: #7A8A92;
$full-moon: #FDE5C5;
$text: $water-surface;
//- Override primary color
$primary: $water-surface;
$secondary: $sparkle-violet;
//- Override font system
$font-family-sans-serif: "din-2014",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$font-family-serif: "din-2014",
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$font-family-base: $font-family-serif;
$headings-font-family: $font-family-sans-serif;
//- Add custom variables
$navbar-height: 4.5rem;