<% provide(:title, 'スポンサー登壇者招待') %>

<div class="container">
  <div class="row speaker-dashboard-form p-md-4" id="speaker-landing">

    <div class="col-12 my-4">
      <h2 class="text-center">スポンサー登壇者として招待された方へ</h2>
      <p>本ページはスポンサー登壇者としての招待メールを受け取った方向けのページです。</p>
    </div>

    <div class="col-12 align-self-baseline my-4 justify-content-center text-center">
      <% if logged_in? %>
        <%= button_to 'スポンサー登壇者として登録する', new_sponsor_speaker_invite_accept_path, {params: {token: @sponsor_speaker_invite.token}, method: :get, class: "btn btn-secondary btn-xl inline" } %>
      <% else %>
        <%= button_to 'スポンサー登壇者として登録する', '/auth/auth0', {method: :post, class: "btn btn-secondary btn-xl inline" } %>
      <% end %>
      <% if @conference.abbr == 'cnk' %>
        <%= label_tag 'entry', 'エントリーにはクラウドネイティブ会議へのサインアップが必要です' %>
      <% else %>
        <%= label_tag 'entry', 'エントリーにはCloudNative Daysへのサインアップが必要です' %>
      <% end %>
    </div>
  </div>
</div>
