name: build container image when branches are pushed

on:
  push:
    branches: ["**"]

jobs:
  build:
    if: github.event.pusher.name != 'dreamkast-cloudnativedays'
    uses: cloudnativedaysjp/reusable-workflows/.github/workflows/wc-build-image.yml@main
    permissions:
      contents: read
      id-token: write
    with:
      image_name: dreamkast-ecs
      platforms: amd64
      aws_region: us-west-2
      run-trivy: true
