name: remove 'reviewapps' label from PR that no update during 3 days

on:
  schedule:
    - cron: '0 0 * * *' # 09:00 JST
  workflow_dispatch:

jobs:
  remove-label:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
    timeout-minutes: 3
    steps:
      - uses: actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b # v7.1.0
        with:
          script: |
            const targetLabel = 'reviewapps';
            const targetDays =  3;

            const now = new Date();
            const borderDate = new Date(now.getFullYear(), now.getMonth(), now.getDate() - targetDays);
            const prs = await github.rest.pulls.list({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: "open",
            });
            await Promise.all(
            prs.data.filter(d => {
              const updatedAt = new Date(Date.parse(d.updated_at));
              return updatedAt < borderDate && d.labels.some(label => label.name == targetLabel);
            }).map(pr => {
              github.rest.issues.removeLabel({
                name: targetLabel,
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: pr.number,
              })
            })
            );
