name: Trivy code scan
on:
  pull_request:
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/trivy.yml'
      - '**.md'
    branches:
      - main
    types: [opened, synchronize]
jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    timeout-minutes: 30
    steps:
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        persist-credentials: false

#  vulnerability DBのダウンロードにしょっちゅう失敗するのでしばらく無効にする
#    - name: Run Trivy vulnerability scanner in fs mode
#      uses: aquasecurity/trivy-action@master
#      with:
#        scan-type: 'fs'
#        scan-ref: '.'
#        exit-code: '0'
#        ignore-unfixed: true
#        severity: 'CRITICAL,HIGH'
