<%= render 'admin/layout' do %>
  <div class="row mb-2">
    <div class="col-10 d-flex align-items-center">
      <h2>Live Stream IVS</h2>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-10 d-flex align-items-center">
      <ul>
        <li>作成時は IVS, MediaPackage, MediaLiveの順番で作成してください</li>
        <li>削除時は MediaLive, MediaPackage, IVSの順番で削除してください</li>
      </ul>
    </div>
  </div>

  <%= render 'admin/live_stream_ivs/ivs' %>
  <%= render 'admin/live_stream_ivs/media_package' %>
  <%= render 'admin/live_stream_ivs/media_live' %>
<% end %>
